/**
 * @name Coloured Icons [Controller]
 * @author Moga
 * @version 1.0.0
 * @description Icon colour snippet Controller.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons Controller */
/* _________________________ */

@import url('https://raw.githubusercontent.com/fckyough/css1/refs/heads/main/vcSnippets/colouredIcons.css');

/* currentColor = default afaik */
:root {
  /* todo: user context menu copy url + view avatar + more shit idk (i will not i a mtoo tirde) */
  /* todo: some discord only icons, not equpcbop */
  --TC_Coloured_Icons_Msg_Actions:     true;
  --TC_Coloured_Icons_Header_Bar:      true;
  --TC_Coloured_Icons_Settings_Menus:  true;
  --TC_Coloured_Icons_Chat_Box:        true;
  --TC_Coloured_Icons_Misc_Shit:       true;
  --CI_HoverTintAmonut:                1.120; /* Set 1 for no :hover glow, def is like 1.1, 1.15 looks ok ig idk */
  --CI_HoverScaleLarge:                1.070; /* Icon hover scale large */
  --CI_HoverScaleSmall:                1.035; /* Icon hover scale small */

  /* ----------------------------- */
  /* TC_Coloured_Icons_Msg_Actions */
  /* ----------------------------- */
  /* all the misc plugnis specific icons that i dont use are prolly random as fuck and look retarded, so yea might wanna shange those */
  --CI_CopyMessageID:      color-mix(in srgb, var(--orange-new-32) 50%, #db9236 50%); /* #dd8b42 */
  --CI_CopyLinkOutside:    var(--status-danger); /* --red-new-46 */
  --CI_CopyLinkCenter:     currentColor;
  --CI_MarkUnreadBig:      var(--CI_Reply); /* #34A853 */
  --CI_MarkUnreadSmall:    currentColor;
  --CI_PinPin:             currentColor; /* #4285F4 */
  --CI_PinHandle:          var(--platform-partner); /* #4285F4 */
  --CI_UnpinHandle:        var(--red-new-54);
  --CI_ThreadSpool:        currentColor; /* var(--pink-38) */
  --CI_ThreadThead:        #e87aba; /* var(--pink-38) */
  --CI_QuickMention:       var(--CI_JumpToReply);
  --CI_ViewRawLeft:        var(--brand-400);
  --CI_ViewRawRight:       var(--brand-400);
  --CI_DecodeBase64:       var(--CI_CopyMessageID);
  --CI_DownloadAllAttach:  var(--CI_PinHandle);
  --CI_JumpToReply:        var(--role-purple);
  --CI_HideMessagesEye:    currentColor;
  --CI_HideMessagesIris:   var(--CI_Reply);
  --CI_HuskReact:          var(--CI_AddReaction);
  --CI_RepeatMessage:      var(--CI_JumpToReply);
  --CI_AnswerWithAIHead:   currentColor;
  --CI_AnswerWithAIEyes:   var(--CI_CopyLinkOutside);
  --CI_ConvertUnits:       var(--CI_CopyLinkOutside);
  --CI_AddReaction:        #E3AC4D; /* color-mix(in srgb, var(--channeltabs-yellow) 88%, #8899ff 12%), this color var doesnt work in vencord for sm reaosn */
  --CI_Reply:              var(--green-new-39); /* #34A853 */
  --CI_EditMessagePencil:  var(--CI_AddReaction);
  --CI_EditMessageEraser:  color-mix(in srgb, var(--pink-38) 50%, #b6495f 50%); /* #db5e9e */
  --CI_CopyTextBack:       var(--CI_equicord_themes);
  --CI_CopyTextFront:      var(--CI_equicord_themes);
  --CI_CopyTextPage:       var(--CI_PinHandle);
  --CI_Forward:            var(--CI_PinHandle);
  --CI_SpeakMessage:       var(--CI_JumpToReply);
  --CI_DeleteMessageLid:   var(--interactive-icon-default); /* only one to not ues current color cuz it default red :taok: */
  --CI_DeleteMessageBin:   #ed5557; /* --CI_DeleteMessageBin */
  --CI_ReportMessage:      var(--CI_DeleteMessageBin); /* only one to not ues current color cuz it default red :taok: */

  /* ------------------------ */
  /* TC_Coloured_Icons_Header */
  /* ------------------------ */
  --CI_ThreadThead_Header:         var(--CI_ThreadThead);
  --CI_NotificationSettingsBell:   var(--CI_AddReaction);
  --CI_NotificationSettingsSlash:  var(--CI_CopyLinkOutside);
  --CI_NotificationSettingsBit:    var(--CI_AddReaction);
  --CI_Pins_Header:                var(--CI_PinHandle);
  --CI_MemberListFrontGuy:         var(--CI_Reply);
  --CI_MemberListBackGuy:          var(--CI_PinHandle);
  --CI_ChatSummaries:              currentColor;
  --CI_AddFriendsDMFrontGuy:       var(--CI_Reply);
  --CI_AddFriendsDMBackGuy:        var(--CI_PinHandle);
  --CI_StartVoiceCall:             var(--CI_Reply);
  --CI_StartVideoCall:             color-mix(in srgb, var(--role-dark-purple) 50%, #7f5af4 50%); /* #7848bf */
  --CI_ShowUserProfile:            var(--CI_AddReaction);
  --CI_Inbox:                      currentColor; /* iii am clueless, but it hink currentColor will keep */
  --CI_Help:                       currentColor; /* it default without having ot disable the rule? */
  --CI_BugReport:                  var(--CI_PinHandle);
  --CI_DevToolsLeft_Header:        currentColor;
  --CI_DevToolsRight_Header:       var(--CI_AddReaction);
  --CI_EnhMessageLogger:           var(--CI_CopyLinkOutside);
  --CI_EquicordIcon01_Header:      currentColor;
  --CI_EquicordIcon02_Header:      currentColor;
  --CI_EquicordIcon03_Header:      currentColor;

  /* -------------------------------- */
  /* TC_Coloured_Icons_Settings_Menus */
  /* -------------------------------- */
  /* Equicord Settings 1 */
  --CI_equicord_main:                                     currentColor;
  --CI_equicord_plugins:                                  var(--illo-purple-40);
  --CI_equicord_themes:                                   #80ADC5;
  --CI_equicord_updater:                                  var(--CI_Reply);
  --CI_equicord_changelog:                                var(--CI_AddReaction);
  --CI_equicord_cloud:                                    var(--CI_PinHandle);
  --CI_equicord_backup_restore:                           var(--brand-400);
  --CI_equicord_patch_helper:                             var(--CI_AddReaction);
  --CI_equicord_equibop_settings:                         var(--CI_equicord_main);
  --CI_vencord_startup_timings:                           var(--CI_equicord_themes);
  --CI_equicord_icon_viewer:                              var(--CI_equicord_themes);
  --CI_equicord_i_remember_you_eye:                       currentColor;
  --CI_equicord_i_remember_you_iris:                      var(--CI_Reply);
  --CI_equicord_login_with_qr_inside:                     #229b93;
  --CI_equicord_login_with_qr_outside:                    currentColor;
  --CI_equicord_theme_library:                            #c45eb8;
  /* Equicord Settings 2 */
  --CI_account_sidebar_item:                              var(--CI_Reply);
  --CI_content_and_social_sidebar_item:                   var(--CI_AddReaction);
  --CI_data_and_privacy_sidebar_item:                     var(--CI_CopyMessageID);
  --CI_family_center_sidebar_item:                        currentColor;
  --CI_authorized_apps_sidebar_item:                      var(--brand-400);
  --CI_sessions_sidebar_item_laptop:                      currentColor;
  --CI_sessions_sidebar_item_phone:                       var(--CI_equicord_themes);
  --CI_connections_sidebar_item_outside:                  var(--CI_CopyLinkOutside);
  --CI_connections_sidebar_item_inside:                   currentColor;
  --CI_notifications_sidebar_item:                        var(--CI_AddReaction);

  /* Billing */
  --CI_nitro_sidebar_item:                                var(--brand-430);
  --CI_premium_guild_subscriptions_sidebar_item_inside:   currentColor;
  --CI_premium_guild_subscriptions_sidebar_item_outside:  var(--guild-boosting-pink);
  --CI_subscriptions_sidebar_item_01:                     currentColor; /* var(--CI_CopyMessageID); */
  --CI_subscriptions_sidebar_item_02:                     var(--CI_Reply);
  --CI_subscriptions_sidebar_item_03:                     currentColor; /* var(--CI_AddReaction); */
  --CI_gift_sidebar_item_01:                              var(--brand-360);
  --CI_gift_sidebar_item_02:                              var(--brand-360);
  --CI_billing_sidebar_item:                              var(--brand-300);

  /* Experience */
  --CI_voice_and_video_sidebar_item_01:                   var(--brand-400);
  --CI_voice_and_video_sidebar_item_02:                   currentColor;
  --CI_appearance_sidebar_item:                           var(--CI_AddReaction);
  --CI_accessibility_sidebar_item:                        var(--CI_PinHandle);
  --CI_keybinds_sidebar_item:                             var(--CI_CopyMessageID);
  --CI_language_and_time_sidebar_item_01:                 #4285F4;
  --CI_language_and_time_sidebar_item_02:                 #34A853;

  /* Activity */
  --CI_activity_privacy_sidebar_item_01:                  currentColor;
  --CI_activity_privacy_sidebar_item_02:                  var(--CI_Reply);

  /* Staff Only 1 */
  --CI_experiments_sidebar_item:                          #c45eb8;
  --CI_developer_options_sidebar_item_01:                 var(--CI_AddReaction);
  --CI_developer_options_sidebar_item_02:                 currentColor;
  /* Staff Only 2 */
  --CI_developer_sidebar_item:                            var(--brand-400);
  --CI_logout_sidebar_item_01:                            currentColor; /* var(--CI_Reply); */
  --CI_logout_sidebar_item_02:                            currentColor; /* var(--CI_CopyLinkOutside); */
  --CI_logout_sidebar_item_03:                            currentColor; /* var(--CI_equicord_themes); */

  /* -------------------------- */
  /* TC_Coloured_Icons_Chat_Box */
  /* -------------------------- */
  --CI_ChatBox_PreviewMessage:  currentColor;
  --CI_ChatBox_AddAttachment:   var(--CI_Reply);
  --CI_ChatBox_SilentMessage:   var(--CI_AddReaction);
  --CI_ChatBox_SilentTyping:    currentColor;
  --CI_ChatBox_QuickMessage:    var(--CI_AddReaction);
  --CI_ChatBox_Translate:       var(--CI_Reply);
  --CI_ChatBox_NitroGift_01:    var(--brand-430);
  --CI_ChatBox_NitroGift_02:    var(--brand-430);
  --CI_ChatBox_NitroGift_03:    var(--brand-400);
  --CI_ChatBox_NitroGift_04:    var(--brand-400);
  --CI_ChatBox_JIFs:            var(--orange-new-29);
  --CI_ChatBox_Stickers:        var(--CI_equicord_themes);
  --CI_ChatBox_Stickers:        var(--green-new-32);
  --CI_ChatBox_Emoji:           var(--CI_AddReaction);
  --CI_ChatBox_Apps_01:         var(--CI_JumpToReply);
  --CI_ChatBox_Apps_02:         var(--CI_PinHandle);
  --CI_ChatBox_Apps_03:         #c45eb8;
  --CI_ChatBox_Apps_04:         var(--green-new-32);

  
  /* --------------------------- */
  /* TC_Coloured_Icons_Misc_Shit */
  /* --------------------------- */
  --CI_lProfile_MemberSinceDiscordIcon:  var(--brand-430);
  --CI_lProfile_ShopRoof:                currentColor;
  --CI_lProfile_ShopMain:                currentColor;
  --CI_lProfile_MessageBubble:           var(--CI_Reply);
  --CI_lProfile_AddFriendNotAddedDude:   var(--CI_Reply);
  --CI_lProfile_AddFriendNotAddedPlus:   currentColor;
  --CI_lProfile_AddFriendAddedDude:      var(--CI_Reply);
  --CI_lProfile_AddFriendAddedCheck:     currentColor;
  --CI_lProfile_AddFriendPendingDude:    var(--CI_Reply);
  --CI_lProfile_AddFriendPendingClock:   currentColor;
  --CI_lProfile_FriendsSinceBody: blue;
  --CI_lProfile_FriendsSinceHead: red;

  --CI_sProfile_AddFriendNotAddedDude:  var(--CI_Reply);
  --CI_sProfile_AddFriendNotAddedPlus:  currentColor;
  --CI_sProfile_AddFriendIsAddedDude:   var(--CI_Reply);
  --CI_sProfile_AddFriendIsAddedCheck:  currentColor;
  --CI_sProfile_AddFriendPendingDude:   var(--CI_Reply);
  --CI_sProfile_AddFriendPendingClock:  currentColor;
  --CI_sProfile_ModViewSwordLeft:       var(--CI_AddReaction);
  --CI_sProfile_ModViewSwordRight:      var(--CI_AddReaction);
  --CI_sProfile_ViewPermissions:        var(--brand-360);
  --CI_sProfile_AddNotePaper:           var(--CI_PinHandle);
  --CI_sProfile_AddNotePlus:            currentColor;
  
  --CI_blProfile_CopyUserID:      var(--CI_CopyMessageID);
  --CI_blProfile_SwitchAccounts:  var(--CI_AddReaction);
  --CI_blProfile_CopyTextBack:    var(--CI_equicord_themes);
  --CI_blProfile_CopyTextFront:   var(--CI_equicord_themes);
  --CI_blProfile_CopyTextPage:    var(--CI_PinHandle);

  --CI_XButton:                  var(--CI_CopyLinkOutside);
  --CI_LeavingAppBox:            vurrentColor;
  --CI_LeavingAppArrow:          var(--CI_CopyMessageID);
  --CI_LeavingArrow:             var(--CI_CopyMessageID);
  --CI_AddNewArrow:              var(--CI_Reply);
  --CI_SilentMessageInlineBell:  var(--CI_AddReaction);
  --CI_SilentMessageInlineZzz:   var(--CI_AddReaction);
}

/* ============================================================================================================================================================ */











