/**
 * @name Coloured Icons [Header]
 * @author Moga
 * @version 1.0.0
 * @description Colours the Header Bar icons in DMs and Servers.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Header] */
/* _______________________ */

@container style(--TC_Coloured_Icons_Header: true) {
[class^='bar_'] [class^='trailing_'],
[class^='upperContainer__'] [class^='toolbar__'] {
  /* Start Voice Call */
  [d^='M13 7a1 1 0 0 1 1-1 4 4 0 0 1 4 4'] { /* sound waves */
    d: path('M2 7.4ZM13 3a1 1 0 011-1 8 8 0 018 8 1 1 0 11-2 0 6 6 0 00-6-6 1 1 0 01-1-1Z M13 7a1 1 0 0 1 1-1 4 4 0 0 1 4 4 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 0 1-1-1Z');
    color: currentColor;
  }
  [d^='M2 7.4A5.4 5.4 0 0 1 7.4 2c.36 0 '] { /* phone */
    d: path('M2 7.4A5.4 5.4 0 017.4 2c.36 0 .7.22.83.55l1.93 4.64a1 1 0 01-.43 1.25L7 10a8.52 8.52 0 007 7l1.12-2.24a1 1 0 011.19-.51l5.06 1.56c.38.11.63.46.63.85C22 19.6 19.6 22 16.66 22h-.37C8.39 22 2 15.6 2 7.71V7.4Z');
    color: var(--CI_StartVoiceCall);
  }

  /* Start Video Call */
  [d^='M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3'] { /* camera */
    color: var(--CI_StartVideoCall);
  }

  /* Threads */
  [d^='M12 2.81a1 1 0 0 1 0-1.41l.36-.36'] { /* spolo */
    d: path('M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36Z');
    color: currentColor;
  }
  [aria-label='Threads']::before { /* thread */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_ThreadThead_Header);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z'/%3E%3C/svg%3E");
  }

  /* Notification Settings */
  [d^='M9.7 2.89c.18-.07.32-.24.37-.43a2'] { /* bit */
    d: path('M9.7 2.89ZM9.18 19.84A.16.16 0 009 20a3 3 0 106 0c0-.1-.09-.17-.18-.16a24.86 24.86 0 01-5.64 0Z');
    color: currentColor;
    /* color: var(--CI_NotificationSettings); */
  }
  [class^='iconWrapper__']:has(>svg >[d^='M9.7 2.89c.18-.07.32-.24.37-.43a2'])::before { /* bell */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_NotificationSettings);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.7 2.89c.18-.07.32-.24.37-.43a2 2 0 013.86 0c.05.2.19.36.38.43A7 7 0 0119 9.5v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 01.77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-4.05 0-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3 3 0 01.77-2l1.1-1.23a.5.5 0 00.13-.33V9.5a7 7 0 014.7-6.61Z'/%3E%3C/svg%3E");
  }
  /* Notification Settings Slash */
  [d^='M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20'] { /* slash */
    d: path('M1.3 21.3a1 1 0 101.4 1.4l20-20a1 1 0 00-1.4-1.4l-20 20ZM9.18 19.84A.16.16 0 009 20a3 3 0 106 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 01-5.64 0Z');
    color: currentColor;
    /* color: var(--CI_CopyLinkOutside); */
  }
  [class^='iconWrapper__']:has(>svg >[d^='M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20'])::before { /* bell */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_NotificationSettings);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M1.3 21.3ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 00-.07-.74 6.97 6.97 0 00-1.35-.64.62.62 0 01-.38-.43 2 2 0 00-3.86 0 .62.62 0 01-.38.43A7 7 0 005 9.5v2.09a.5.5 0 01-.13.33l-1.1 1.22A3 3 0 003 15.15v.28c0 .24.04.48.13.7ZM18.64 9.36c.13-.13.36-.05.36.14v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 01.77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-.46 0-.9-.01-1.33-.03a.48.48 0 01-.3-.83l8.27-8.28Z'/%3E%3C/svg%3E");
  }

  /* Pinned Messages */
  [aria-label='Pinned Messages'] { /* tried the &: shit idk if it even is cleaner lol */
    [d^='M19.38 11.38a3 3 0 0 0 4.24 0l.03'] { /* pin */
      d: path('M9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z');
      color: currentColor;
    }
    &::before { /* handle */
      content: '';width: 20px;height: 20px;position: absolute;
      background-color: var(--CI_Pins_Header);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11Z'/%3E%3C/svg%3E");
    }
  }

  /* Show/Hide Member List */
  [d$='0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z'] { /* indicator */
    d: path('M 22 5 a 2.01 2.01 0 1 1 -1 0 a 2.01 2.01 0 0 1 1 0 Z');
    color: var(--icon-muted);
  }
  [aria-label='Show Member List']::before,
  [aria-label='Hide Member List']::before { /* front */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_MemberListFrontGuy);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M12.5 9a3 3 0 1 1-6 0a3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2 .2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54c-.1-.23-.42-.15-.42 .1v2.1a.5 .5 0 0 1-.5 .5h-8a.5 .5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1c-.32 .67-.67 1.58-.88 2.54a.2 .2 0 0 1-.2 .16A1.5 1.5 0 0 1 2 20.5Z'/%3E%3C/svg%3E");
  }
  [aria-label='Show Member List']::after,
  [aria-label='Hide Member List']::after { /* back */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_MemberListBackGuy);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M 14.5 8 a 3 3 0 1 0 -2.7 -4.3 c -0.2 0.4 0.06 0.86 0.44 1.12 a 5 5 0 0 1 2.14 3.08 c 0.01 0.06 0.06 0.1 0.12 0.1 Z M 18.44 17.27 c 0.15 0.43 0.54 0.73 1 0.73 h 1.06 c 0.83 0 1.5 -0.67 1.5 -1.5 a 7.5 7.5 0 0 0 -6.5 -7.43 c -0.55 -0.08 -0.99 0.38 -1.1 0.92 c -0.06 0.3 -0.15 0.6 -0.26 0.87 c -0.23 0.58 -0.05 1.3 0.47 1.63 a 9.53 9.53 0 0 1 3.83 4.78 Z Z Z'/%3E%3C/svg%3E");
  }

  /* Chat Summaries */
  [d^='M3.11 8H6v10.82c0 .86.37 1.68 1 2.27.46.43 1.02.71 1.6'] {
    color: var(--CI_ChatSummaries);
  }

  /* Add Friends to DM */
  [d^='M19 14a1 1 0 0 1 1 1v3h3a1 1 0'] {} /* plus */
  [d$='0 1 0 0-6 3 3 0 0 0 0 6ZM15.5 22Z'] { /* front */
    d: path('M14.5 8ZM15.19 15.61c.13.16.02.39-.19.39a3 3 0 00-1.52 5.59c.2.12.26.41.02.41h-8a.5.5 0 01-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 01-.2.16A1.5 1.5 0 012 20.5a7.5 7.5 0 0113.19-4.89ZM9.5 12a3 3 0 100-6 3 3 0 000 6Z');
    color: var(--CI_AddFriendsDMFrontGuy);
  }
  [aria-label='Add Friends to DM']::before { /* back */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_AddFriendsDMBackGuy);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M14.5 8a3 3 0 10-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 012.14 3.08c.01.06.06.1.12.1ZM16.62 13.17c-.22.29-.65.37-.92.14-.34-.3-.7-.57-1.09-.82-.52-.33-.7-1.05-.47-1.63.11-.27.2-.57.26-.87.11-.54.55-1 1.1-.92 1.6.2 3.04.92 4.15 1.98.3.27-.25.95-.65.95a3 3 0 00-2.38 1.17Z'/%3E%3C/svg%3E");
  }

  /* Show User Profile */
  [d^='M23 12.38c-.02.38-.45.58-.78.4a6.'] { /* icon */
    color: var(--CI_ShowUserProfile);
  }
  [d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 1'] { /* indicator */
    color: var(--icon-muted);
  }

  /* Inbox */
  [d^='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3'] {
    /* color: var(--CI_Inbox); */
    /* color: #fc799a; */
  }

  /* Help */
  [d^='M12 23a11 11 0 1 0 0-22 11 11 0 0'] {
    color: var(--CI_Help);
  }

  /* Bug */
  [d^='M9.54 3.28a3 3 0 0 0-.37.74c-.19.'] { /* head */
    d: path('M9.54 3.28a3 3 0 00-.37.74c-.19.52.28.98.83.98h4c.55 0 1.02-.46.83-.98a2.96 2.96 0 00-.37-.74c.23-.16.56-.28.99-.28a1 1 0 100-2c-1 0-2.01.4-2.68 1.1a3 3 0 00-1.54 0A3.76 3.76 0 008.55 1a1 1 0 000 2c.43 0 .76.12 1 .28Z');
    color: currentColor;
  }
  [aria-label='Submit a Bug Report']::before { /* body */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_BugReport);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.54 3.28ZM18.01 18.85c-.04.1-.03.22.05.3l1.51 1.5a1 1 0 01-1.41 1.42l-1.18-1.18a.26.26 0 00-.37 0 6.7 6.7 0 01-2.8 1.82c-.42.14-.83-.2-.86-.64l-.42-8.57a.53.53 0 00-1.05 0l-.43 8.57c-.03.45-.44.78-.87.64A6.7 6.7 0 017.4 20.9a.26.26 0 00-.37-.01l-1.18 1.18a1 1 0 01-1.41-1.41l1.51-1.51c.08-.08.1-.2.05-.3-.47-.94-.78-2-.92-3.12a.25.25 0 00-.25-.23H3a1 1 0 110-2h1.82c.13 0 .24-.1.25-.23.14-1.13.45-2.18.92-3.12a.25.25 0 00-.05-.3l-1.51-1.5a1 1 0 111.41-1.42L7.02 8.1c.1.1.27.1.37 0a6.66 6.66 0 012.95-1.87c.38-.11.75.14.85.52l.57 2.27c.06.25.42.25.48 0l.57-2.27c.1-.38.47-.63.85-.52 1.1.33 2.11.98 2.95 1.86.1.1.26.11.37.01l1.18-1.18a1 1 0 111.41 1.41l-1.51 1.51c-.08.08-.1.2-.05.3.47.94.78 2 .92 3.12.01.13.12.23.25.23H21a1 1 0 110 2h-1.82c-.13 0-.24.1-.25.23a9.68 9.68 0 01-.92 3.12Z'/%3E%3C/svg%3E");
  }

  /* DevTools */
  [d^='M2 20.59V19.4a1 1 0 0 1 .3-.7l2.4'] {
    color: var(--CI_DevToolsRight_Header);
  }
  [d^='M8.23 10.23c.2.2.51.2.7 0l1.3-1.3'] {
    color: var(--CI_DevToolsLeft_Header);
  }

  /* Enhanced Message Logger */
  [d^='M21 21.93V2.07a1 1 0 0 0-1.27-.97'] {
    color: var(--CI_EnhMessageLogger);
  }

  /* Equicord Toolbox */
  [d^='M221.5.6C99.2.6,0,99.7,0,222.1s99'] {
    color: var(--CI_EquicordIcon01_Header);
  }
  [d^='M438.3,175C421,90.1,354.7,23.1,26'] {
    color: var(--CI_EquicordIcon02_Header);
  }
  [d^='M172.8,152.7h0c17.7,0,32,14.3,32,'] {
    color: var(--CI_EquicordIcon03_Header);
  }

  /* 'X' Button */
  [d^='M17.3 18.7a1 1 0 0 0 1.4-1.4L13.4'] {
    color: var(--CI_XButton);
  }


  /* Color/Anim Amendments for :hover & :focus */
  /* while hover or while selected */
  /* threads & a '*=' for quirky ass thread icon, otherwide '^=' */
  [class*='iconWrapper__']:hover
  {transform: matrix(1.08, 0, 0, 1.08, 0, 0);filter: brightness(var(--CI_HoverTintAmonut));}
  /* keeps it big while selected and also does like some lil button click shit, looks cool, didnt mean to, but ima keep :taok: */
  .selected__9293f
  {transform: matrix(1.06, 0, 0, 1.06, 0, 0);filter: brightness(var(--CI_HoverTintAmonut));}

  /* while click down */
  [class*='iconWrapper__']:focus
  {transform: matrix(1, 0, 0, 1, 0, 0);filter: brightness(var(--CI_HoverTintAmonut));}

  /* add while hover&selected color for the dots cuz wont by default */
  /* show&hide user profile indicator */
  [class*='iconWrapper__']:hover [d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 1'],
  [class*='iconWrapper__']:hover [d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z'],
  /* show & hide member list */
  [class*='iconWrapper__']:hover [d$='0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z']
  {color: var(--icon-subtle);}
  .selected__9293f {
    [d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 1'],
    [d$='0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z']
    {color: var(--icon-strong) !important;}
  }
  /* fix for the lack of a diff svg for new pins + disable header bar */
  [aria-label='Pinned Messages'] {
    .iconBadgeBottom__9293f {
      bottom: 5px;
      inset-inline-end: 1px;
    }
    .iconBadge__9293f {
      height: 6px;
      width: 6px;
    }
  }
}}

/* ============================================================================================================================================================ */
