/**
 * @name Coloured Icons [Chat Box]
 * @author Moga
 * @version 1.0.0
 * @description Colours the Chat Box icons to be pretty & distinguishable.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Chat Box] */
/* _________________________ */

@container style(--TC_Coloured_Icons_Chat_Box: true) {
.attachWrapper__0923f,
.buttons__74017 {
  path[d^='M22.89 11.7c.07.2.07.4 0 .6C22.27']{color: var(--CI_PreviewMessage_ChatBox);}  /* Preview Message */
  path[d^='M13 3a1 1 0 1 0-2 0v8H3a1 1 0 1 0']{color: var(--CI_AddAttachment_ChatBox);}   /* Add Attachments */
  path[d^='M18.333 15.556H1.667a1.667 1.667 ']{color: var(--CI_SilentTyping_ChatBox);}    /* Silent Typing */
  path[d^=' M-7,-6 C-7,-7.6570000648498535 -']{color: var(--CI_NitroGift_ChatBox_01);}    /* Nitro Gift 1 */
  path[d^=' M7,-6 C7,-7.6570000648498535 5.6']{color: var(--CI_NitroGift_ChatBox_02);}    /* Nitro Gift 2 */
  path[d^=' M-10,-2 C-10,-3.1050000190734863']{color: var(--CI_NitroGift_ChatBox_03);}    /* Nitro Gift 3 */
  path[d^=' M-7,10 C-8.104999542236328,10 -9']{color: var(--CI_NitroGift_ChatBox_04);}    /* Nitro Gift 4 */
  path[d^=' M-7,-10 C-8.656999588012695,-10 ']{color: var(--CI_JIFs_ChatBox);}            /* JIF Picker */
  path[d^=' M-6,-10 C-6,-10 6,-10 6,-10 C8.2']{color: var(--CI_Stickers_ChatBox);}        /* Stickers */
  path[d^=' M-6.554999828338623,1.6410000324']{color: var(--CI_Apps_ChatBox_01);}         /* Apps 1 */
  path[d^=' M-6.478000164031982,2.4040000438']{color: var(--CI_Apps_ChatBox_02);}         /* Apps 2 */
  path[d^=' M-0.9409999847412109,-6.26800012']{color: var(--CI_Apps_ChatBox_03);}         /* Apps 3 */
  path[d^=' M1.5130000114440918,-5.592000007']{color: var(--CI_Apps_ChatBox_04);}         /* Apps 4 */

  /* i do later, lazy */
  /* Preview Message */
  /* path[d^='M22.89 11.7c.07.2.07.4 0 .6C22.27'] {display: none;} */
  /* [aria-label='Preview Message']::before { */
    /* transform: scale(1) !important; */
    /* content: '';width: 20px;height: 20px;position: absolute; */
    /* background-color: var(--CI_Emoji_ChatBox); */
    /* mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 23a11 11 0 100-22 11 11 0 000 22ZM6.5 13a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm11 0a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm-9.8 1.17a1 1 0 011.39.27 3.5 3.5 0 005.82 0 1 1 0 011.66 1.12 5.5 5.5 0 01-9.14 0 1 1 0 01.27-1.4Z'/%3E%3C/svg%3E"); */
    /* .sprite__04eed {display: none;} */
  /* } */

  /* Translate My Messages */
  .vc-trans-chat-button {display: none !important;}
  [aria-label='Open Translate Modal']::before {
    content: '';width: 22px;height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 96 960 960' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234285F4' d='M160 856l-55-55 204-204q-38-44-67.5-88.5T190 416h87q17 33 37.5 62.5T361 539q45-47 75-97.5T487 336H40v-80h280v-80h80v80h280v80H567q-22 69-58.5 135.5T419 598l98 99-30 81-127-122-200 200Z'/%3E%3Cpath fill='%2334A853' d='M475 976l181-480h82l186 480h-87l-41-126H604l-47 126h-82ZM626 780h142l-70-194h-2l-70 194Z'/%3E%3C/svg%3E");
  }

  /* Silent Message Toggle */
  path[d^='M18 10.7101C15.1085 9.84957 13 7.']:is(:only-child) { /* on */
    color: var(--CI_SilentMessage_ChatBox);
  }
  path[d^='M18 10.7101C15.1085 9.84957 13 7.']:not(:only-child) { /* off */
    color: var(--CI_SilentMessage_ChatBox);
    d: path('M18 10.7101C15.1085 9.8496 13 7.171 13 4c0-.3074.0198-.6101.0582-.907C12.7147 3.0319 12.3611 3 12 3 8.686 3 6 5.686 6 9v5c0 1.657-1.344 3-3 3v1h18v-1c-1.656 0-3-1.343-3-3v-3.2899ZM8.5549 19c.693 1.19 1.969 2 3.445 2s2.752-.81 3.445-2H8.5549Z');
  }

  /* Emoji */
  /* .emojiButtonNormal__04eed  { */
  .spriteContainer__04eed {
    transform: scale(1) !important;
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_Emoji_ChatBox);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 23a11 11 0 100-22 11 11 0 000 22ZM6.5 13a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm11 0a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm-9.8 1.17a1 1 0 011.39.27 3.5 3.5 0 005.82 0 1 1 0 011.66 1.12 5.5 5.5 0 01-9.14 0 1 1 0 01.27-1.4Z'/%3E%3C/svg%3E");
    .sprite__04eed {display: none;}
  }
}}

/* ============================================================================================================================================================ */
