/**
 * @name Coloured Icons
 * @author Moga
 * @version 1.0.0
 * @description Colours the Message/Context Menu icons to be pretty & distinguishable.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Message Actions] */
/* ________________________________ */

@container style(--TC_Coloured_Icons_Msg_Actions: true) {

/* --------------- */
/* Message Actions */
/* --------------- */

/* Context Menus */
#message, /* Message */
#dev-context, /* Profile Roles */
#user-context, /* Username */
#guild-context, /* Server Icon */
#thread-context, /* Header Bar: Triple Dots */
#message-actions, /* Message: Triple Dot */
#channel-context, /* Channel List */
#expression-picker, /* Expression Panel */
#guild-header-popout, /* Server Dropdown */
#game-profile-context, /* Activity's Page */
[data-list-item-id^='chat-messages___chat-messages']>[class^='buttonContainer_'] {  /* message h over actions */
  path[d^='M12 1a11 11 0 0 1 9.16 17.08 2 2 ']{color: var(--CI_ViewReactions);}      /* View Reactions */
  path[d^='M16.32 14.72a1 1 0 0 1 0-1.41l2.5']{color: var(--CI_CopyLinkOutside);}    /* Copy Link 1 */
  path[d^='M14.7 10.7a1 1 0 0 0-1.4-1.4l-4 4']{color: var(--CI_CopyLinkCenter);}     /* Copy Link 2 */
  path[d^='M12.93 21.96c.25-.03.43-.23.47-.4']{color: var(--CI_MarkUnreadBig);}      /* Mark Unread 1 */
  path[d^='M18 17h-1.24a3 3 0 1 1 .26 4.25 1']{color: var(--CI_MarkUnreadSmall);}    /* Mark Unread 2 */
  path[d^='M12 2C6.486 2 2 6.486 2 12C2 17.5']{color: var(--CI_QuickMention);}       /* Quick Mention */
  path[d^='M8.42616 4.60245C8.6193 4.40733 8']{color: var(--CI_ViewRawLeft);}        /* View Raw 1 */
  path[d^='M12.9297 3.25007C12.7343 3.05261 ']{color: var(--CI_ViewRawRight);}       /* View Raw 2 */
  path[d^='M6.5 9.50026H14.0385C15.4063 9.50']{color: var(--CI_DecodeBase64);}       /* Decode Base64 */
  path[d^='M6.5 20Q4.22 20 2.61 18.43 1 16.8']{color: var(--CI_DownloadAllAttach);}  /* Download All Attachments */
  path[d^='M22.89 11.7c.07.2.07.4 0 .6C22.27']{color: var(--CI_HideMessagesEye);}    /* Hide Messages 1 */
  path[d^='M15.56 11.77c.2-.1.44.02.44.23a4 ']{color: var(--CI_HideMessagesIris);}   /* Hide Messages 2 */
  path[d^='M12,2C6.47,2 2,6.47 2,12C2,17.53 ']{color: var(--CI_HuskReact);}          /* Husk React */
  path[d^='m274-200 34 34q12 12 11.5 28T308-']{color: var(--CI_RepeatMessage);}      /* Repeat Message */
  path[d^='M7.89 13.46a1 1 0 0 1-1.78-.9L7 1']{color: var(--CI_AnswerWithAIEyes);}   /* Answer With AI 1 */
  path[d^='M12 21c5.52 0 10-1.86 10-6 0-5.59']{color: var(--CI_AnswerWithAIHead);}   /* Answer With AI 2 */
  path[d^='m50 16.668v-7.4609c0-1.875-2.25-2']{color: var(--CI_ConvertUnits);}       /* Convert Units */
  path[d^='M12 23a11 11 0 1 0 0-22 11 11 0 0']{color: var(--CI_AddReaction);}        /* Add Reaction */
  path[d^='M2.3 7.3a1 1 0 0 0 0 1.4l5 5a1 1 ']{color: var(--CI_Reply);}              /* Reply */
  path[d^='M3 16a1 1 0 0 1-1-1v-5a8 8 0 0 1 ']{color: var(--CI_CopyTextBackPage);}   /* Copy Text 1 */
  path[d^='M6 18a4 4 0 0 0 4 4h8a4 4 0 0 0 4']{color: var(--CI_CopyTextFrontPage);}  /* Copy Text 2 */
  path[d^='M21.73 12a3 3 0 0 0-.6-.88l-4.25-']{color: var(--CI_CopyTextTab);}        /* Copy Text 3 */
  path[d^='M21.7 7.3a1 1 0 0 1 0 1.4l-5 5a1 ']{color: var(--CI_Forward);}            /* Forward */
  path[d^='M12 22a10 10 0 1 0-8.45-4.64c.13.']{color: var(--CI_SpeakMessage);}       /* Speak Message */
  path[d^='M23 12a11 11 0 1 1-22 0 11 11 0 0']{color: var(--CI_MembersInRole);}      /* Members in Role */
  path[d^='M12 1.9A1 1 90 0012 22.1 1 1 90 0']{color: var(--CI_JumpToFirstMessage);} /* Jump to First Message */
  path[d^='M12 22.1A1 1 270 0012 1.9 1 1 270']{color: var(--CI_JumpToLastMessage);}  /* Jump to Last Message */
  path[d^='M14.25 1c.41 0 .75.34.75.75V3h5.2']{color: var(--CI_DeleteMessageLid);}   /* Delete Message 1 */
  path[d^='M5.06 7a1 1 0 0 0-1 1.06l.76 12.1']{color: var(--CI_DeleteMessageBin);}   /* Delete Message 2 */
  path[d^='M3 1a1 1 0 0 1 1 1v.82l8.67-1.45A']{color: var(--CI_ReportMessage);}      /* Report Message */

  /* Copy ID */
  /* Channel vs UserID */
  .item_c1e9c4:nth-child(1 of [id*='copy-id'])>.iconContainer_c1e9c4>.icon_c1e9c4 { /* User ID */
    >path[d$='c-.79-.83-1.92-1.25-3.38-1.25H10Z']{color: var(--CI_CopyMessageID_01);}
    >path[d^='M15.3 14.48c-.46.45-1.08.67-1.86.']{color: var(--CI_CopyMessageID_01);}
  }
  .item_c1e9c4:nth-child(2 of [id*='copy-id'])>.iconContainer_c1e9c4>.icon_c1e9c4 { /* Channel ID */
    >path[d$='c-.79-.83-1.92-1.25-3.38-1.25H10Z']{color: var(--CI_CopyMessageID_02);}
    >path[d^='M15.3 14.48c-.46.45-1.08.67-1.86.']{color: var(--CI_CopyMessageID_02);}
  }
  /* Message Hover */
  .hoverBarButton_f84418>.icon_f84418 path[d$='c-.79-.83-1.92-1.25-3.38-1.25H10Z']{color: var(--CI_CopyMessageID_01);}
  .hoverBarButton_f84418>.icon_f84418 path[d^='M15.3 14.48c-.46.45-1.08.67-1.86.']{color: var(--CI_CopyMessageID_01);}

  /* View Avatar/Banner/Icon */
  .item_c1e9c4:nth-child(1 of [id*='context-view'])>.iconContainer_c1e9c4>.icon_c1e9c4 { /* User ID */
    path[d^='M21,19V5c0,-1.1 -0.9,-2 -2,-2H5c-']{color: var(--CI_ViewIcon_01);}
  }
  .item_c1e9c4:nth-child(2 of [id*='context-view'])>.iconContainer_c1e9c4>.icon_c1e9c4 { /* Channel ID */
    path[d^='M21,19V5c0,-1.1 -0.9,-2 -2,-2H5c-']{color: var(--CI_ViewIcon_02);}
  }

  /* Pin/Unpin Message */
  path[d^='M19.38 11.38a3 3 0 0 0 4.24 0l.03'] { /* pinpoint */
    d: path('M9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z');
    color: var(--CI_PinPin_1);
  }
  #message-actions-pin>[class^='iconContainer_']::before, /* triple dot context menu */
  #message-pin>[class^='iconContainer_']::before, /* context menu */
  [aria-label='Pin Message']::before { /* handle */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_PinHandle);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11Z'/%3E%3C/svg%3E");
  }
  #user-context-pin-dm>[class^='iconContainerLeft_']::before, /* friend list context menu */
  #message-actions-unpin>[class^='iconContainer_']::before, /* triple dot context menu */
  #message-unpin>[class^='iconContainer_']::before, /* context menu */
  [aria-label='Unpin Message']::before { /* handle */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_UnpinHandle);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11Z'/%3E%3C/svg%3E");
  }

  /* Create Thread */
  path[d^='M12 2.81a1 1 0 0 1 0-1.41l.36-.36'] { /* spolo */
    d: path('M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36Z');
    color: var(--CI_ThreadSpool);
  }
  #message-actions-thread>[class^='iconContainer_']::before, /* triple dot context menu */
  #message-thread>[class^='iconContainer_']::before, /* context menu */
  [aria-label='View Thread']::before, /* view thread */
  [aria-label='Create Thread']::before { /* thread */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_ThreadThead);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z'/%3E%3C/svg%3E");
  }

  /* hardcoded colors cuz i dont wanna use has, but prolly will cum back to do it, cuz i alr did a has somewhere else anywhey protien */
  /* Hide Media */
  path[d^='m21 18.15-2-2V5H7.85l-2-2H19q.825'] { /* border */
    d: path('m21 18.15-2-2V5H7.85l-2-2H19q.825 0 1.413.587Q21 4.175 21 5Zm-3.8 1.85L18.2 21H5q-.825 0-1.413-.587Q3 19.825 3 19V5.8L5 7.825V19h11.175Z');
    color: currentColor;
  }
  [aria-label='Hide Media']::before { /* slash & mountains */
    content: '';width: 20px;height: 20px;position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%2334A853' d='m21 18.15M6 17l3-4 2.25 3 .825-1.1L14 17l-4 0Z'/%3E%3Cpath fill='%23e8474a' d='M21 18.15Zm-1.2 4.45L1.4 4.2l1.4-1.4 18.4 18.4Z'/%3E%3C/svg%3E");
  }
  /* Show Media */
  path[d^='M5 21q-.825 0-1.413-.587Q3 19.825'] { /* border */
    d: path('M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm-1 2V5v14Z');
    background-color: currentColor;
  }
  [aria-label='Show Media']::before { /* mountains */
    content: '';width: 20px;height: 20px;position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%2334A853' d='M5 21Z m0-2Z m1-2h12l-3.75-5-3 4L9 13Z'/%3E%3C/svg%3E");
  }

  /* Translate */
  path[d^='m475 976 181-480h82l186 480h-87l-']{display: none;}
  #message-vc-trans>[class^='iconContainer_']::before, /* context menu */
  [aria-label='Translate']::before { /* message hvoer */
    content: '';width: 20px;height: 20px;position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 96 960 960' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234285F4' d='M160 856l-55-55 204-204q-38-44-67.5-88.5T190 416h87q17 33 37.5 62.5T361 539q45-47 75-97.5T487 336H40v-80h280v-80h80v80h280v80H567q-22 69-58.5 135.5T419 598l98 99-30 81-127-122-200 200Z'/%3E%3Cpath fill='%2334A853' d='M475 976l181-480h82l186 480h-87l-41-126H604l-47 126h-82ZM626 780h142l-70-194h-2l-70 194Z'/%3E%3C/svg%3E");
  }

  /* Jump to Reply */
  path[d^='M 7 3 L 7 11 C 7 11 7 12 6 12 L 5'] {
    d: path('M6.4 1.6 6.4 11.2C6.4 11.2 6.4 12.4 5.2 12.4L4 12.4C2.8 12.4 2.8 12.4 3.9796 13.738L7.7968 18.4432C8.8 19.6 8.8 19.6 9.8128 18.4216L13.5892 13.9324C14.8 12.4 14.8 12.4 13.6072 12.382L12.4 12.4C12.4 12.4 11.2 12.4 11.2 11.2L11.2 1.6C11.2.4 11.2.4 10 .4L7.6.4C6.4.4 6.4.4 6.4 1.6');
    color: var(--CI_JumpToReply);
  }

  /* Edit Message & Changed Post Title */
  path[d^='m13.96 5.46 4.58 4.58a1 1 0 0 0 1'] {
    d: path('m 13.96 5.46 Z M 2.11 20.16 l 0.73 -4.22 a 3 3 0 0 1 0.83 -1.61 l 7.87 -7.87 a 1 1 0 0 1 1.42 0 l 4.58 4.58 a 1 1 0 0 1 0 1.42 l -7.87 7.87 a 3 3 0 0 1 -1.6 0.83 l -4.23 0.73 a 1.5 1.5 0 0 1 -1.73 -1.73 Z');
    color: var(--CI_EditMessagePencil);
  }
  #dev-context-vc-edit-role>.iconContainer_c1e9c4::before, /* server roles context menu */
  #guild-header-popout-change-nickname>.iconContainer_c1e9c4::before, /* guid dropdown context menu */
  #message-edit>.iconContainer_c1e9c4::before, /* context menu */
  [aria-label='Edit']::before { /* eraser */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_EditMessageEraser);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m 13.96 5.46 l 4.58 4.58 a 1 1 0 0 0 1.42 0 l 1.38 -1.38 a 2 2 0 0 0 0 -2.82 l -3.18 -3.18 a 2 2 0 0 0 -2.82 0 l -1.38 1.38 a 1 1 0 0 0 0 1.42 Z'/%3E%3C/svg%3E");
  }
  #dev-context-vc-edit-role>.iconContainer_c1e9c4::before {
    width: 18px;height: 18px;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m 13.96 5.46 l 4.58 4.58 a 1 1 0 0 0 1.42 0 l 1.38 -1.38 a 2 2 0 0 0 0 -2.82 l -3.18 -3.18 a 2 2 0 0 0 -2.82 0 l -1.38 1.38 a 1 1 0 0 0 0 1.42 Z'/%3E%3C/svg%3E");
  }
  path[d^='M 12,0 C 5.3733333,0 0,5.3733333 ']{color: var(--CI_CopyRoleColor)}

  /* Jump to first and last message: alt icons */
  /* path[d^='M12 1.9A1 1 90 0012 22.1 1 1 90 0'] { */
    /* d: path('M12 2A1 1 270 0012 22 1 1 270 0012 2ZM12 7 18 13 16 15 14 13 14 20 10 20 10 13 8 15 6 13 12 7 6 7 6 5 18 5 18 7Z'); */
  /* } */
  /* path[d^='M12 22.1A1 1 270 0012 1.9 1 1 270'] { */
    /* d: path('M12 22A1 1 90 0012 2 1 1 90 0012 22ZM12 17 6 11 8 9 10 11 10 4 14 4 14 11 16 9 18 11 12 17 18 17 18 19 6 19 6 17Z'); */
  /* } */

  /* Copy user URL */
  path[d^='M10.59 13.41c.41.39.41 1.03 0 1.4'] {
    d: path('M10.59 13.41c.41.39.41 1.03 0 1.42-.39.39-1.03.39-1.42 0a5.003 5.003 0 010-7.07l3.54-3.54a5.003 5.003 0 017.07 0 5.003 5.003 0 010 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 000-4.24 2.982 2.982 0 00-4.24 0l-3.53 3.53a2.982 2.982 0 000 4.24');
    color: var(--CI_CopyUserURLTop);
  }
  .iconContainer_c1e9c4:has(>.vc-link-icon)::before {
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_CopyUserURLBot);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M10.59 13.41m2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 010 7.07l-3.54 3.54a5.003 5.003 0 01-7.07 0 5.003 5.003 0 010-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 000 4.24 2.982 2.982 0 004.24 0l3.53-3.53a2.982 2.982 0 000-4.24.973.973 0 010-1.42z'/%3E%3C/svg%3E");
  }

  /* Color/Anim Amendments for :hover */
  /* message hover actoins */
  .hoverBarButton_f84418:hover {
    /* background-color: transparent; */
    &::before,
    &::after,
    &>.icon_f84418 {
      transform: scale(var(--CI_HoverScaleLarge));
      transform-origin: center;
      filter: brightness(var(--CI_HoverTintAmonut));
      fill: currentColor;
      color: currentColor;
    }
  }

  /* context menu */
  .item_c1e9c4:hover>.iconContainer_c1e9c4::before,
  .item_c1e9c4:hover>.iconContainer_c1e9c4::after,
  .item_c1e9c4:hover>.iconContainer_c1e9c4>svg>path { /* todo naked path */
    transform: scale(var(--CI_HoverScaleSmall));
    transform-origin: center;
    filter: brightness(var(--CI_HoverTintAmonut));
  }
  /* todo idk i thnnk this naked 'path' thing is bad for performance idk */
  .focused_c1e9c4 path{fill: currentColor;}

  /* needs cuz currentColor is red fur dis one */
  [aria-label='Delete']:hover path[d^='M14.25 1c.41 0 .75.34.75.75V3h5.2']{color: var(--interactive-icon-hover);}

  /* idk its too bright lol */
  [aria-label='Add Reaction']:hover{filter: brightness(calc(var(--CI_HoverTintAmonut) * 0.9));}

  /* give the border always cuz its ugly without + make hover more much */
  .popover_f84418.popover_f84418:hover{border: 1px solid var(--border-normal);}
  .popover_f84418.popover_f84418{border: 1px solid var(--border-subtle);}
}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Header Bar] */
/* ___________________________ */

@container style(--TC_Coloured_Icons_Header_Bar: true) {
.bar_c38106>.trailing_c38106,
.upperContainer__9293f>.toolbar__9293f {
  /* Start Voice Call */
  path[d^='M13 7a1 1 0 0 1 1-1 4 4 0 0 1 4 4'] { /* sound waves */
    d: path('M2 7.4ZM13 3a1 1 0 011-1 8 8 0 018 8 1 1 0 11-2 0 6 6 0 00-6-6 1 1 0 01-1-1Z M13 7a1 1 0 0 1 1-1 4 4 0 0 1 4 4 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 0 1-1-1Z');
    color: currentColor;
  }
  path[d^='M2 7.4A5.4 5.4 0 0 1 7.4 2c.36 0 '] { /* phone */
    d: path('M2 7.4A5.4 5.4 0 017.4 2c.36 0 .7.22.83.55l1.93 4.64a1 1 0 01-.43 1.25L7 10a8.52 8.52 0 007 7l1.12-2.24a1 1 0 011.19-.51l5.06 1.56c.38.11.63.46.63.85C22 19.6 19.6 22 16.66 22h-.37C8.39 22 2 15.6 2 7.71V7.4Z');
    color: var(--CI_StartVoiceCall);
  }

  /* Start Video Call */
  path[d^='M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3']{color: var(--CI_StartVideoCall);}

  /* Threads */
  path[d^='M12 2.81a1 1 0 0 1 0-1.41l.36-.36'] { /* spolo */
    d: path('M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36Z');
    color: currentColor;
  }
  [aria-label='Threads']::before { /* thread */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_Header_ThreadThead);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z'/%3E%3C/svg%3E");
  }

  /* Notification Settings */
  path[d^='M9.7 2.89c.18-.07.32-.24.37-.43a2'] {
    color: var(--CI_NotificationSettingsBell);
  }
  /* Notification Settings Slash */
  path[d^='M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20'] { /* slash */
    d: path('M9.18 19.84A.16.16 0 009 20a3 3 0 106 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 01-5.64 0Z');
    color: var(--CI_NotificationSettingsBit);
  }
  [class^='iconWrapper__']:has(>svg>path[d^='M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20'])::before { /* bell */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_NotificationSettingsBell);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M1.3 21.3ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 00-.07-.74 6.97 6.97 0 00-1.35-.64.62.62 0 01-.38-.43 2 2 0 00-3.86 0 .62.62 0 01-.38.43A7 7 0 005 9.5v2.09a.5.5 0 01-.13.33l-1.1 1.22A3 3 0 003 15.15v.28c0 .24.04.48.13.7ZM18.64 9.36c.13-.13.36-.05.36.14v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 01.77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-.46 0-.9-.01-1.33-.03a.48.48 0 01-.3-.83l8.27-8.28Z'/%3E%3C/svg%3E");
  }
  [class^='iconWrapper__']:has(>svg>path[d^='M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20'])::after { /* bit */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_NotificationSettingsSlash);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M1.3 21.3a1 1 0 101.4 1.4l20-20a1 1 0 00-1.4-1.4l-20 20Z'/%3E%3C/svg%3E");
  }

  /* Pinned Messages */
  [aria-label='Pinned Messages'] { /* tried the &: shit idk if it even is cleaner lol */
    path[d^='M19.38 11.38a3 3 0 0 0 4.24 0l.03'] { /* pin */
      d: path('M9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z');
      color: var(--CI_Header_PinPin);
    }
    &::before { /* handle */
      content: '';width: 20px;height: 20px;position: absolute;
      background-color: var(--CI_Header_PinHandle);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11Z'/%3E%3C/svg%3E");
    }
  }

  /* Show/Hide Member List */
  path[d$='0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z'] { /* indicator */
    d: path('M 22 5 a 2.01 2.01 0 1 1 -1 0 a 2.01 2.01 0 0 1 1 0 Z');
    color: var(--CI_MemberListIndicator);
  }
  [aria-label='Show Member List']::before,
  [aria-label='Hide Member List']::before { /* front */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_MemberListFrontGuy);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M12.5 9a3 3 0 1 1-6 0a3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2 .2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54c-.1-.23-.42-.15-.42 .1v2.1a.5 .5 0 0 1-.5 .5h-8a.5 .5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1c-.32 .67-.67 1.58-.88 2.54a.2 .2 0 0 1-.2 .16A1.5 1.5 0 0 1 2 20.5Z'/%3E%3C/svg%3E");
  }
  [aria-label='Show Member List']::after,
  [aria-label='Hide Member List']::after { /* back */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_MemberListBackGuy);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M 14.5 8 a 3 3 0 1 0 -2.7 -4.3 c -0.2 0.4 0.06 0.86 0.44 1.12 a 5 5 0 0 1 2.14 3.08 c 0.01 0.06 0.06 0.1 0.12 0.1 Z M 18.44 17.27 c 0.15 0.43 0.54 0.73 1 0.73 h 1.06 c 0.83 0 1.5 -0.67 1.5 -1.5 a 7.5 7.5 0 0 0 -6.5 -7.43 c -0.55 -0.08 -0.99 0.38 -1.1 0.92 c -0.06 0.3 -0.15 0.6 -0.26 0.87 c -0.23 0.58 -0.05 1.3 0.47 1.63 a 9.53 9.53 0 0 1 3.83 4.78 Z Z Z'/%3E%3C/svg%3E");
  }

  /* Chat Summaries */
  path[d^='M3.11 8H6v10.82c0 .86.37 1.68 1 2']{color: var(--CI_ChatSummaries);}

  /* Add Friends to DM */
  path[d^='M19 14a1 1 0 0 1 1 1v3h3a1 1 0'] {} /* plus */
  path[d$='0 1 0 0-6 3 3 0 0 0 0 6ZM15.5 22Z'] { /* front */
    d: path('M14.5 8ZM15.19 15.61c.13.16.02.39-.19.39a3 3 0 00-1.52 5.59c.2.12.26.41.02.41h-8a.5.5 0 01-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 01-.2.16A1.5 1.5 0 012 20.5a7.5 7.5 0 0113.19-4.89ZM9.5 12a3 3 0 100-6 3 3 0 000 6Z');
    color: var(--CI_AddFriendsDMFrontGuy);
  }
  [aria-label='Create New Group DM']::before { /* back */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_AddFriendsDMBackGuy);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M14.5 8a3 3 0 10-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 012.14 3.08c.01.06.06.1.12.1ZM16.62 13.17c-.22.29-.65.37-.92.14-.34-.3-.7-.57-1.09-.82-.52-.33-.7-1.05-.47-1.63.11-.27.2-.57.26-.87.11-.54.55-1 1.1-.92 1.6.2 3.04.92 4.15 1.98.3.27-.25.95-.65.95a3 3 0 00-2.38 1.17Z'/%3E%3C/svg%3E");
  }

  /* Show User Profile */
  path[d^='M23 12.38c-.02.38-.45.58-.78.4a6.']{color: var(--CI_ShowUserProfile);} /* icon */
  path[d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 1']{color: var(--icon-muted);} /* indicator */

  /* Inbox */
  path[d^='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3']{color: var(--CI_Inbox)}

  /* Help */
  path[d^='M12 23a11 11 0 1 0 0-22 11 11 0 0']{color: var(--CI_Help);}

  /* Bug */
  path[d^='M9.54 3.28a3 3 0 0 0-.37.74c-.19.'] { /* head */
    d: path('M9.54 3.28a3 3 0 00-.37.74c-.19.52.28.98.83.98h4c.55 0 1.02-.46.83-.98a2.96 2.96 0 00-.37-.74c.23-.16.56-.28.99-.28a1 1 0 100-2c-1 0-2.01.4-2.68 1.1a3 3 0 00-1.54 0A3.76 3.76 0 008.55 1a1 1 0 000 2c.43 0 .76.12 1 .28Z');
    color: currentColor;
  }
  [aria-label='Submit a Bug Report']::before { /* body */
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_BugReport);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.54 3.28ZM18.01 18.85c-.04.1-.03.22.05.3l1.51 1.5a1 1 0 01-1.41 1.42l-1.18-1.18a.26.26 0 00-.37 0 6.7 6.7 0 01-2.8 1.82c-.42.14-.83-.2-.86-.64l-.42-8.57a.53.53 0 00-1.05 0l-.43 8.57c-.03.45-.44.78-.87.64A6.7 6.7 0 017.4 20.9a.26.26 0 00-.37-.01l-1.18 1.18a1 1 0 01-1.41-1.41l1.51-1.51c.08-.08.1-.2.05-.3-.47-.94-.78-2-.92-3.12a.25.25 0 00-.25-.23H3a1 1 0 110-2h1.82c.13 0 .24-.1.25-.23.14-1.13.45-2.18.92-3.12a.25.25 0 00-.05-.3l-1.51-1.5a1 1 0 111.41-1.42L7.02 8.1c.1.1.27.1.37 0a6.66 6.66 0 012.95-1.87c.38-.11.75.14.85.52l.57 2.27c.06.25.42.25.48 0l.57-2.27c.1-.38.47-.63.85-.52 1.1.33 2.11.98 2.95 1.86.1.1.26.11.37.01l1.18-1.18a1 1 0 111.41 1.41l-1.51 1.51c-.08.08-.1.2-.05.3.47.94.78 2 .92 3.12.01.13.12.23.25.23H21a1 1 0 110 2h-1.82c-.13 0-.24.1-.25.23a9.68 9.68 0 01-.92 3.12Z'/%3E%3C/svg%3E");
  }

  /* DevTools */
  path[d^='M8.23 10.23c.2.2.51.2.7 0l1.3-1.3']{color: var(--CI_Header_DevToolsLeft);}
  path[d^='M2 20.59V19.4a1 1 0 0 1 .3-.7l2.4']{color: var(--CI_Header_DevToolsRight);}

  /* Enhanced Message Logger */
  path[d^='M21 21.93V2.07a1 1 0 0 0-1.27-.97']{color: var(--CI_EnhMessageLogger);}

  /* Equicord Toolbox */
  path[d^='M221.5.6C99.2.6,0,99.7,0,222.1s99']{color: var(--CI_Header_EquicordIcon01);}
  path[d^='M438.3,175C421,90.1,354.7,23.1,26']{color: var(--CI_Header_EquicordIcon02);}
  path[d^='M172.8,152.7h0c17.7,0,32,14.3,32,']{color: var(--CI_Header_EquicordIcon03);}

  /* Color/Anim Amendments for :hover & :focus */
  /* while hover or while selected */
  /* threads & a '*=' for quirky ass thread icon, otherwide '^=' */
  >[role='button']:hover {
    transform: scale(var(--CI_HoverScaleLarge));
    transform-origin: center;
    filter: brightness(var(--CI_HoverTintAmonut));
  }
  /* keeps it big while selected and also does like some lil button click shit, looks cool, didnt mean to, but ima keep :taok: */
  >.selected__9293f {
    transform: scale(var(--CI_HoverScaleSmall));
    transform-origin: center;
    filter: brightness(var(--CI_HoverTintAmonut));
  }

  /* while click down */
  >[role='button']:focus {
    transform: scale(1);
    transform-origin: center;
    filter: brightness(var(--CI_HoverTintAmonut));
  }

  /* add while hover & selected color for the dots cuz wont by default */
  >[role='button']:hover path[d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 1'], /* show & hide user profile indicator */
  >[role='button']:hover path[d$='19a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z'], /* show & hide user profile indicator */
  >[role='button']:hover path[d$='0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z'] /* show & hide member list */
  {color: var(--icon-subtle);}

  .selected__9293f {
    path[d^='M24 19a5 5 0 1 1-10 0 5 5 0 0 1 1'],
    path[d$='0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z']
    {color: var(--icon-strong) !important;}
  }

  /* fix for the lack of a diff svg for new pins + disable header bar */
  [aria-label='Pinned Messages'] {
    .iconBadgeBottom__9293f {
      bottom: 5px;
      inset-inline-end: 1px;
    }
    .iconBadge__9293f {
      height: 6px;
      width: 6px;
    }
  }

  /* Personal fix for my colored icons */
  .iconWrapper__9293f {
    height: var(--space-24);
    width: var(--space-24);
  }
}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Chat Box] */
/* _________________________ */

@container style(--TC_Coloured_Icons_Chat_Box: true) {
.attachWrapper__0923f,
.buttons__74017 {
  path[d^='M22.89 11.7c.07.2.07.4 0 .6C22.27']{color: var(--CI_ChatBox_PreviewMessage);}  /* Preview Message */
  path[d^='M13 3a1 1 0 1 0-2 0v8H3a1 1 0 1 0']{color: var(--CI_ChatBox_AddAttachment);}   /* Add Attachments */
  path[d^='M18.333 15.556H1.667a1.667 1.667 ']{color: var(--CI_ChatBox_SilentTyping);}    /* Silent Typing */
  path[d^='M13 2L3 14h7l-1 8 10-12h-7l1-8z'  ]{color: var(--CI_ChatBox_QuickMessage);}    /* Quick Message */
  path[d^=' M-7,-6 C-7,-7.6570000648498535 -']{color: var(--CI_ChatBox_NitroGift_01);}    /* Nitro Gift 1 */
  path[d^=' M7,-6 C7,-7.6570000648498535 5.6']{color: var(--CI_ChatBox_NitroGift_02);}    /* Nitro Gift 2 */
  path[d^=' M-10,-2 C-10,-3.1050000190734863']{color: var(--CI_ChatBox_NitroGift_03);}    /* Nitro Gift 3 */
  path[d^=' M-7,10 C-8.104999542236328,10 -9']{color: var(--CI_ChatBox_NitroGift_04);}    /* Nitro Gift 4 */
  path[d^=' M-7,-10 C-8.656999588012695,-10 ']{color: var(--CI_ChatBox_JIFs);}            /* JIF Picker */
  path[d^=' M-6,-10 C-6,-10 6,-10 6,-10 C8.2']{color: var(--CI_ChatBox_Stickers);}        /* Stickers */
  path[d^=' M-6.554999828338623,1.6410000324']{color: var(--CI_ChatBox_Apps_01);}         /* Apps 1 */
  path[d^=' M-6.478000164031982,2.4040000438']{color: var(--CI_ChatBox_Apps_02);}         /* Apps 2 */
  path[d^=' M-0.9409999847412109,-6.26800012']{color: var(--CI_ChatBox_Apps_03);}         /* Apps 3 */
  path[d^=' M1.5130000114440918,-5.592000007']{color: var(--CI_ChatBox_Apps_04);}         /* Apps 4 */

  /* todo: i do later, lazy */
  /* Preview Message */
  /* path[d^='M22.89 11.7c.07.2.07.4 0 .6C22.27']{display: none;} */
  /* [aria-label='Preview Message']::before { */
    /* transform: scale(1) !important; */
    /* content: '';width: 20px;height: 20px;position: absolute; */
    /* background-color: var(--CI_ChatBox_Emoji); */
    /* mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 23a11 11 0 100-22 11 11 0 000 22ZM6.5 13a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm11 0a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm-9.8 1.17a1 1 0 011.39.27 3.5 3.5 0 005.82 0 1 1 0 011.66 1.12 5.5 5.5 0 01-9.14 0 1 1 0 01.27-1.4Z'/%3E%3C/svg%3E"); */
    /* .sprite__04eed{display: none;} */
  /* } */

  /* Translate My Messages */
  .vc-trans-chat-button{display: none !important;}
  [aria-label='Open Translate Modal']::before {
    content: '';width: 22px;height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 96 960 960' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234285F4' d='M160 856l-55-55 204-204q-38-44-67.5-88.5T190 416h87q17 33 37.5 62.5T361 539q45-47 75-97.5T487 336H40v-80h280v-80h80v80h280v80H567q-22 69-58.5 135.5T419 598l98 99-30 81-127-122-200 200Z'/%3E%3Cpath fill='%2334A853' d='M475 976l181-480h82l186 480h-87l-41-126H604l-47 126h-82ZM626 780h142l-70-194h-2l-70 194Z'/%3E%3C/svg%3E");
  }

  /* Silent Message Toggle */
  [aria-label='Disable Silent Message'] .buttonWrapper__24af7>svg{height: 19px;width: 19px;}
  path[d^='M18 10.7101C15.1085 9.84957 13 7.']:is(:only-child) {color: var(--CI_ChatBox_SilentMessage);}  /* on */
  path[d^='M18 10.7101C15.1085 9.84957 13 7.']:not(:only-child) { /* off */
    color: var(--CI_ChatBox_SilentMessage);
    d: path('M18 10.7101C15.1085 9.8496 13 7.171 13 4c0-.3074.0198-.6101.0582-.907C12.7147 3.0319 12.3611 3 12 3 8.686 3 6 5.686 6 9v5c0 1.657-1.344 3-3 3v1h18v-1c-1.656 0-3-1.343-3-3v-3.2899ZM8.5549 19c.693 1.19 1.969 2 3.445 2s2.752-.81 3.445-2H8.5549Z');
  }

  /* Emoji */
  .spriteContainer__04eed {
    transform: scale(1) !important;
    content: '';width: 20px;height: 20px;position: absolute;
    background-color: var(--CI_ChatBox_Emoji);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 23a11 11 0 100-22 11 11 0 000 22ZM6.5 13a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm11 0a1.5 1.5 0 010-3 1.5 1.5 0 010 3Zm-9.8 1.17a1 1 0 011.39.27 3.5 3.5 0 005.82 0 1 1 0 011.66 1.12 5.5 5.5 0 01-9.14 0 1 1 0 01.27-1.4Z'/%3E%3C/svg%3E");
    >.sprite__04eed{display: none;}
  }

  /* hover scale */
  .app-launcher-entrypoint:hover,
  .container_aa63ab:hover,
  .button__74017:hover {
    transform: scale(var(--CI_HoverScaleSmall));
    transform-origin: center;
    filter: brightness(var(--CI_HoverTintAmonut));
  }

  /* disable anims on hover scale */
  .button__74017,
  .app-launcher-entrypoint
  {transition-duration: 0s !important;}
}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Settings Menus] */
/* _______________________________ */

@container style(--TC_Coloured_Icons_Settings_Menus: true) {
[data-list-id='settings-sidebar'],
#settings-menu {
  path[d^='M10.56 1.1c-.46.05-.7.53-.64.98.1']{color: var(--CI_equicord_main);}
  path[d^='M18.559 12.8227C17.7884 13.4957 1']{color: var(--CI_equicord_plugins);}
  path[d^='M15.35 7.24C15.9 6.67 16 5.8 16 5']{color: var(--CI_equicord_themes);}
  path[d^='M12 2C12.2652 2 12.5196 2.10536 1']{color: var(--CI_equicord_updater);}
  path[d$='5a1 1 0 1 1 0 2h-5a1 1 0 0 1-1-1Z']{color: var(--CI_equicord_changelog);}
  path[d^='M16.8333 19H5.16667C3.16667 19 1.']{color: var(--CI_equicord_cloud);}
  path[d^='M21 2.01232C21.2652 2.01232 21.51']{color: var(--CI_equicord_backup_restore);}
  path[d^='M7.79997 15.7699C8.49996 16.1999 ']{color: var(--CI_equicord_patch_helper);}
  path[d^='M18.157.056a1.224 1.224 0 0 0-.70']{color: var(--CI_equicord_equibop_settings);}
  path[d$='3 3a1 1 0 0 0 1.4-1.4L13 11.58V5Z']{color: var(--CI_vencord_startup_timings);}
  path[d^='M15.62 17.03a9 9 0 1 1 1.41-1.41l']{color: var(--CI_equicord_icon_viewer);}
  path[d^='M22.89 11.7c.07.2.07.4 0 .6C22.27']{color: var(--CI_equicord_i_remember_you_eye);}
  path[d^='M15.56 11.77c.2-.1.44.02.44.23a4 ']{color: var(--CI_equicord_i_remember_you_iris);}
  path[d^='M5 7c0-1.1.9-2 2-2h2a2 2 0 0 1 2 ']{color: var(--CI_equicord_login_with_qr_inside);}
  path[d^='M4 6c0-1.1.9-2 2-2h3a1 1 0 0 0 0-']{color: var(--CI_equicord_login_with_qr_outside);}
  path[d^='M12.37 9.04c.25-.26.73-.2 1.06.13']{color: var(--CI_equicord_theme_library);}

  path[d^='M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 ']{color: var(--CI_account_sidebar_item);}
  path[d$='3.08a.97.97 0 0 1-.38.98l.01-.01Z']{color: var(--CI_content_and_social_sidebar_item);}
  path[d$='7-.19-.44a2.08 2.08 0 1 1 1.57 0Z']{color: var(--CI_data_and_privacy_sidebar_item);}
  path[d^='M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.0']{color: var(--CI_family_center_sidebar_item);}
  path[d^='M2.06 7.61c-.25.95.31 1.92 1.26 2']{color: var(--CI_authorized_apps_sidebar_item);}
  path[d^='M3 15.5V6a3 3 0 0 1 3-3h12a3 3 0 ']{color: var(--CI_sessions_sidebar_item_laptop);}
  path[d^='M15 11c0-1.1.9-2 2-2h4a2 2 0 0 1 ']{color: var(--CI_sessions_sidebar_item_phone);}
  path[d^='M16.32 14.72a1 1 0 0 1 0-1.41l2.5']{color: var(--CI_connections_sidebar_item_outside);}
  path[d^='M14.7 10.7a1 1 0 0 0-1.4-1.4l-4 4']{color: var(--CI_connections_sidebar_item_inside);}
  path[d^='M9.7 2.89c.18-.07.32-.24.37-.43a2']{color: var(--CI_notifications_sidebar_item);}

  path[d^='M16.23 12c0 1.29-.95 2.25-2.22 2.']{color: var(--CI_nitro_sidebar_item);}
  path[d^='M11.47 6.55a.75.75 0 0 1 1.06 0l2']{color: var(--CI_premium_guild_subscriptions_sidebar_item_inside);}
  path[d^='M10.95 1.43a1.5 1.5 0 0 1 2.1 0l5']{color: var(--CI_premium_guild_subscriptions_sidebar_item_outside);}
  path[d^='M22.95 11.05a1 1 0 0 1 1 1 11.5 1']{color: var(--CI_subscriptions_sidebar_item_01);}
  path[d^='M13.41 7.2c1.1.15 1.96.72 2.59 1.']{color: var(--CI_subscriptions_sidebar_item_02);}
  path[d^='M21.16 0a1.1 1.1 0 0 1 1.09 1.1v4']{color: var(--CI_subscriptions_sidebar_item_03);}
  path[d^='M4 6a4 4 0 0 1 4-4h.09c1.8 0 3.39']{color: var(--CI_gift_sidebar_item_01);}
  path[d^='M3 20c0 1.1.9 2 2 2h5.5a.5.5 0 0 ']{color: var(--CI_gift_sidebar_item_02);}
  path[d^='M0 6c0-1.1 1.07-2 2.4-2h19.2c1.32']{color: var(--CI_billing_sidebar_item);}

  path[d^='M12 2a4 4 0 0 0-4 4v4a4 4 0 0 0 8']{color: var(--CI_voice_and_video_sidebar_item_01);}
  path[d^='M6 10a1 1 0 0 0-2 0 8 8 0 0 0 7 7']{color: var(--CI_voice_and_video_sidebar_item_02);}
  path[d^='M19 16h-5a2 2 0 0 0-2 2v2c0 1.66-']{color: var(--CI_appearance_sidebar_item);}
  path[d$='-2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2Z']{color: var(--CI_accessibility_sidebar_item);}
  path[d^='M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3']{color: var(--CI_keybinds_sidebar_item);}
  path[d^='M11 2a1 1 0 1 0-2 0v1H3a1 1 0 0 0']{color: var(--CI_language_and_time_sidebar_item_01);}
  path[d^='M22.77 22H20.5l-.99-2.77H14.3L13.']{color: var(--CI_language_and_time_sidebar_item_02);}

  path[d^='M17.78 13.1a6.02 6.02 0 0 0-3.51.']{color: var(--CI_activity_privacy_sidebar_item_01);}
  path[d^='M23.66 16.47c.13.57.34 1.69.34 3.']{color: var(--CI_activity_privacy_sidebar_item_02);}

  path[d^='M16 10.49V4a1 1 0 1 0 0-2H8a1 1 0']{color: var(--CI_experiments_sidebar_item);}
  path[d^='M2 20.59V19.4a1 1 0 0 1 .3-.7l2.4']{color: var(--CI_developer_options_sidebar_item_01);}
  path[d^='M8.23 10.23c.2.2.51.2.7 0l1.3-1.3']{color: var(--CI_developer_options_sidebar_item_02);}

  path[d^='M9.6 7.8 4 12l5.6 4.2a1 1 0 0 1 .']{color: var(--CI_developer_sidebar_item);}
  path[d^='M9 12a1 1 0 0 1 1 1v2a1 1 0 1 1-2']{color: var(--CI_logout_sidebar_item_01);}
  path[d^='M2.75 3.02A3 3 0 0 1 5 2h10a3 3 0']{color: var(--CI_logout_sidebar_item_02);}
  path[d^='M15.3 16.7a1 1 0 0 1 1.4-1.4l4.3 ']{color: var(--CI_logout_sidebar_item_03);}

  /* {color: var(--interactive-icon-hover);} */
  /* {filter: brightness(calc(var(--CI_HoverTintAmonut) * 0.96));} */
  /* these two separate cuz the focused means while its like still idk, but itll
     show like if it was "last hovered" but there is nothing else to hover so
     that piece keeps the "hovered" state. the separate is, so it stays
     "not filled white", but wont scale unless its actually hovered */

  /* todo idk i thnnk this naked 'path' thing is bad for performance idk */
  .focused_c1e9c4>.iconContainerLeft_c1e9c4>svg>path{fill: currentColor;}
  
  .item_caf372:hover>.itemContent_caf372>.icon_caf372,
  .item_caf372:hover>.itemContent_caf372>.vc-icon,
  .item_c1e9c4:hover>div .icon_c1e9c4,
  .item_c1e9c4:hover>div .vc-icon {
    transform: scale(var(--CI_HoverScaleSmall));
    transform-origin: center;
    filter: brightness(var(--CI_HoverTintAmonut));
  }
}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons [Misc Shit] */
/* __________________________ */

@container style(--TC_Coloured_Icons_Misc_Shit: true) {
/* botleft profile popout */
.copyButton__252af>svg,
.menuItemIcon_ce8328>svg {
  >path[d$='c-.79-.83-1.92-1.25-3.38-1.25H10Z']{color: var(--CI_blProfile_CopyUserID);}         /* Copy UserID 1 */
  >path[d^='M15.3 14.48c-.46.45-1.08.67-1.86.']{color: var(--CI_blProfile_CopyUserID);}         /* Copy UserID 2 */
  >path[d^='M18.46 20.9a12.65 12.65 0 0 1-1.4']{color: var(--CI_blProfile_SwitchAccounts);}     /* Switch Accounts */
  >path[d^='M3 16a1 1 0 0 1-1-1v-5a8 8 0 0 1 ']{color: var(--CI_blProfile_CopyTextBack);}       /* Copy Text 1 */
  >path[d^='M6 18a4 4 0 0 0 4 4h8a4 4 0 0 0 4']{color: var(--CI_blProfile_CopyTextFront);}      /* Copy Text 2 */
  >path[d^='M21.73 12a3 3 0 0 0-.6-.88l-4.25-']{color: var(--CI_blProfile_CopyTextPage);}       /* Copy Text 3 */
}

/* mini profile popout */
.bannerButton_fb7f94>svg {
  >path[d^='M16.83 12.93c.26-.27.26-.75-.08-.']{color: var(--CI_sProfile_AddFriendNotAddedDude);}   /* Add Friend: Not Added Dude */
  >path[d^='M19 14a1 1 0 0 1 1 1v3h3a1 1 0 0 ']{color: var(--CI_sProfile_AddFriendNotAddedPlus);}   /* Add Friend: Not Added Plus */
  >path[d^='M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 ']{color: var(--CI_sProfile_AddFriendIsAddedDude);}    /* Add Friend: Is Added Dude */
  >path[d^='M23.7 17.7a1 1 0 1 0-1.4-1.4L18 2']{color: var(--CI_sProfile_AddFriendIsAddedCheck);}   /* Add Friend: Is Added Check */
  >path[d^='M16 6a4 4 0 1 1-8 0 4 4 0 0 1 8 0']{color: var(--CI_sProfile_AddFriendPendingDude);}    /* Add Friend: Pending Req Dude */
  >path[d^='M19 24a5 5 0 1 0 0-10 5 5 0 0 0 0']{color: var(--CI_sProfile_AddFriendPendingClock);}   /* Add Friend: Pending Req Clock */
  >path[d^='M7.45 2.53A1.5 1.5 0 0 0 6.3 2H3a']{color: var(--CI_sProfile_ModViewSwordLeft);}        /* Mod View Sword Left */
  >path[d^='M5.26 12.45c.1.03.18.08.25.14l.52']{color: var(--CI_sProfile_ModViewSwordRight);}       /* Mod View Sword Right */
}
.button__0f074>svg {
  >path[d^='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3']{color: var(--CI_sProfile_AddNotePaper);}       /* Add Note Paper */
  >path[d^='M19 14a1 1 0 0 1 1 1v3h3a1 1 0 1 ']{color: var(--CI_sProfile_AddNotePlus);}        /* Add Note Plus */
}
.vc-safety-icon>path[d^='M4.27 5.22A2.66 2.66 0 0 0 3 7.5v']{color: var(--CI_sProfile_ViewPermissions);} /* View User Permissions */

/* .user-profile-popout { */
/* expanded profile */
.buttonChildren_a22cb0>svg,
.memberSince_c4eb81>svg {
  >path[d^='M19.73 4.87a18.2 18.2 0 0 0-4.6-']{color: var(--CI_lProfile_MemberSinceDiscordIcon);}  /* Member Since Discord Icon */
  >path[d^='M2.63 4.19A3 3 0 0 1 5.53 2H7a1 ']{color: var(--CI_lProfile_ShopRoof);}                /* Shop Button 1 */
  >path[d^='M21 11.42V19a3 3 0 0 1-3 3h-2.75']{color: var(--CI_lProfile_ShopMain);}                /* Shop Button 2 */
  >path[d^='M12 22a10 10 0 1 0-8.45-4.64c.13']{color: var(--CI_lProfile_MessageBubble);}          /* Message Person Bubble */
  >path[d^='M16.83 12.93c.26-.27.26-.75-.08-']{color: var(--CI_lProfile_AddFriendNotAddedDude);}   /* Add Friend: Not Added Dude */
  >path[d^='M19 14a1 1 0 0 1 1 1v3h3a1 1 0 0']{color: var(--CI_lProfile_AddFriendNotAddedPlus);}   /* Add Friend: Not Added Plus */
  >path[d^='M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0']{color: var(--CI_lProfile_AddFriendAddedDude);}   /* Add Friend: Is Added Dude */
  >path[d^='M23.7 17.7a1 1 0 1 0-1.4-1.4L18 ']{color: var(--CI_lProfile_AddFriendAddedCheck);}   /* Add Friend: Is Added Check */
  >path[d^='M16 6a4 4 0 1 1-8 0 4 4 0 0 1 8 ']{color: var(--CI_lProfile_AddFriendPendingDude);}   /* Add Friend: Pending Req Dude */
  >path[d^='M19 24a5 5 0 1 0 0-10 5 5 0 0 0 ']{color: var(--CI_lProfile_AddFriendPendingClock);}  /* Add Friend: Pending Req Clock */
}
/* todo, doesnt work? lmao idk */
.memberSince_c4eb81>svg {
  >path[d^='M3 5v-.75C3 3.56 3.56 3 4.25 3s1']{color: var(--CI_lProfile_FriendsSinceBody);}  /* Friends Since Body */
  >path[d^='M13 10a4 4 0 1 0 0-8 4 4 0 0 0 0']{color: var(--CI_lProfile_FriendsSinceHead);}  /* Friends Since Head */
}
/* nerf the thing a bit so the green bubble looks fine */
.profileButtons__9c3be>.button_a22cb0{background-color: var(--brand-630);}

/* 'X' Button */
path[d^='M17.3 18.7a1 1 0 0 0 1.4-1.4L13.4']{color: var(--CI_XButton);}
path[d^='M19.3 20.7a1 1 0 0 0 1.4-1.4L13.4']{color: var(--CI_XButton);}

/* Leaving App Arrow */
path[d^='M8 5a1 1 0 0 0 0 2h7.59L5.29 17.3']{color: var(--CI_LeavingArrow);}

/* Leaving App Arrow With Box */
path[d^='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3']{color: var(--CI_LeavingAppBox);}
path[d^='M15 2a1 1 0 0 1 1-1h6a1 1 0 0 1 1']{color: var(--CI_LeavingAppArrow);}

/* Plus Button (add roles) */
path[d^='M13 6a1 1 0 1 0-2 0v5H6a1 1 0 1 0']{color: var(--CI_PlusButton);}
path[d^='M13 5a1 1 0 1 0-2 0v6H5a1 1 0 1 0']{color: var(--CI_PlusButton);}

/* Silent Message Bell */
path[d^='M19 11.5a.5.5 0 0 0-.5-.5h-2.33a2']{color: var(--CI_SilentMessageInlineBell);}
path[d^='M22.07 3.29 18.68 7h2.82c.28 0 .5']{color: var(--CI_SilentMessageInlineZzz);}

/* App Chat Message */
path[d$='c.27 0 .52-.14.66-.38l7.57-13.25Z']{color: var(--CI_AppChatMsg);}

/* Replied to/click to see Attachment */
.repliedTextContentTrailingIcon_c19a55,
.threadMessageAccessoryContentTrailingIcon_c19a5 {
  >path[d^='M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3']{color: var(--CI_AttachmentPicture);}
}

/* Friends Tab */
.linkButtonIcon__972a0 {
  >path[d^='M13 10a4 4 0 1 0 0-8 4 4 0 0 0 0 ']{color: var(--CI_FriendsTab_FriendsHead);}
  >path[d^='M3 5v-.75C3 3.56 3.56 3 4.25 3s1.']{color: var(--CI_FriendsTab_FriendsBody);}
  >path[d^='M1.16 5.02c-.1.28.04.58.29.74l10.']{color: var(--CI_FriendsTab_MsgReqsTop);}
  >path[d^='M23 8.8a.5.5 0 0 0-.78-.41l-9.53 ']{color: var(--CI_FriendsTab_MsgReqsBot);}
  >path[d^='M2.63 4.19A3 3 0 0 1 5.53 2H7a1 1']{color: var(--CI_FriendsTab_ShopRoof);}
  >path[d^='M21 11.42V19a3 3 0 0 1-3 3h-2.75a']{color: var(--CI_FriendsTab_ShopMain);}
  >path[d^='M16.23 12c0 1.29-.95 2.25-2.22 2.']{color: var(--CI_FriendsTab_Nitro);}
  >path[d^='M7.5 21.7a8.95 8.95 0 0 1 9 0 1 1']{color: var(--CI_FriendsTab_Quests);}
}

/* Search Results */
.parentChannelNameIcon_a7e67f>path[d^='M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1']{color: var(--CI_SearchResults_CategoryFolder);}
.icon_a22cb0, /* search result header */
.itemIcon__971b5, /* search bar dropdown */
.channelNameIcon_a7e67f { /* search results list */
  >path[d^='M10.57 4.01a6.97 6.97 0 0 1 9.86 ']{color: var(--CI_SearchResults_DataType);}
  >path[d^='M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3']{color: var(--CI_SearchResults_DataTypeImage);}
  >path[d^='M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3']{color: var(--CI_SearchResults_DataTypeVideo);}
  >path[d^='M16.32 14.72a1 1 0 0 1 0-1.41l2.5']{color: var(--CI_SearchResults_DataTypeLinkOutside);}
  >path[d^='M14.7 10.7a1 1 0 0 0-1.4-1.4l-4 4']{color: var(--CI_SearchResults_DataTypeLinkInside);}
  >path[d^='M18 22H6a4 4 0 0 1-4-4V6a4 4 0 0 ']{color: var(--CI_SearchResults_DataTypeFilePage);}
  >path[d^='M21.7 7.94c.01.03 0 .06-.04.06H19']{color: var(--CI_SearchResults_DataTypeFileTab);}
  >path[d^='M9.5 11.87a1 1 0 0 1 1.55-.83l3.2']{color: var(--CI_SearchResults_DataTypeEmbedInside);}
  >path[d$='h6a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Z']{color: var(--CI_SearchResults_DataTypeEmbedOutside);}
  >path[d^='M14.24 1.03a1 1 0 0 1 .73 1.21l-1']{color: var(--CI_SearchResults_DataTypeSoundWavesIn);}
  >path[d^='M15.14 20.14c1.78-1.78.7-5.75-2.4']{color: var(--CI_SearchResults_DataTypeSoundSpeaker);}
  >path[d^='M7.05 3.32a1 1 0 0 1 1.9-.64l1 3a']{color: var(--CI_SearchResults_DataTypeSoundWavesOut);}
  >path[d^='M2 5c0-1.1.9-2 2-2h16a2 2 0 1 1 0']{color: var(--CI_SearchResults_DataTypePoll);}
  >path[d^='M6 2h12a4 4 0 0 1 4 4v7.5a.5.5 0 ']{color: var(--CI_SearchResults_DataTypeStickerPage);}
  >path[d^='M21.66 16c.03 0 .05.03.04.06a3 3 ']{color: var(--CI_SearchResults_DataTypeStickerTab);}
  >path[d^='M21.7 7.3a1 1 0 0 1 0 1.4l-5 5a1 ']{color: var(--CI_SearchResults_DataTypeForward);}
  >path[d^='M12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 ']{color: var(--CI_SearchResults_FromUser);}
  >path[d^='M16.44 6.96c.29 0 .51.25.47.54l-.']{color: var(--CI_SearchResults_UserAtSymbol);}
  >path[d^='M15.62 17.03a9 9 0 1 1 1.41-1.41l']{color: var(--CI_SearchResults_MagnifyingGlass);}
  >path[d^='M22 5a1 1 0 0 1-1 1h-8.2a2.5 2.5 ']{color: var(--CI_SearchResults_Filters);}
  /* >path[d^='M10.99 3.16A1 1 0 1 0 9 2.84L8.15']{color: var(--CI_SearchResults_ChannelHash);} */
  /* >path[d^='M12.5 8c.28 0 .5.22.5.5V9c0 .1 0 ']{color: var(--CI_SearchResults_ChannelHashLock);} */
}

/* .icon_a22cb0, .icon__0c4c4 */
.clearSearchHistoryIcon__971b5 {
  >path[d^='M14.25 1c.41 0 .75.34.75.75V3h5.2']{color: var(--CI_SearchResults_DeleteMessageLid);}
  >path[d^='M5.06 7a1 1 0 0 0-1 1.06l.76 12.1']{color: var(--CI_SearchResults_DeleteMessageBin);}
}
/* Sort Up/Down */
.icon_a22cb0>path[d^='M16.3 21.7a1 1 0 0 0 1.4 0l4-4a1 ']{display: none;}
.button_a22cb0[aria-label='Sort']>.buttonChildrenWrapper_a22cb0>.buttonChildren_a22cb0::before { /* left arrow */
  content: '';width: 16px;height: 16px;position: absolute;
  background-color: var(--CI_SearchResults_SortUp);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.3 2.3a1 1 0 011.4 0l4 4a1 1 0 01-1.4 1.4L8 5.42V21a1 1 0 11-2 0V5.41l-2.3 2.3a1 1 0 01-1.4-1.42l4-4Z'/%3E%3C/svg%3E");
}
.button_a22cb0[aria-label='Sort']>.buttonChildrenWrapper_a22cb0>.buttonChildren_a22cb0::after { /* right arrow */
  content: '';width: 16px;height: 16px;position: absolute;
  background-color: var(--CI_SearchResults_SortDn);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.3 21.7a1 1 0 001.4 0l4-4a1 1 0 00-1.4-1.4L18 18.58V3a1 1 0 10-2 0v15.59l-2.3-2.3a1 1 0 00-1.4 1.42l4 4Z'/%3E%3C/svg%3E");
}

/* Expression Panel */
.categoryIcon_b9ee0c,
.headerIcon__14245>svg,
.stickerCategoryGenericIcon__3ad28 {
  >path[d^='M10.81 2.86c.38-1.15 2-1.15 2.38 ']{color: var(--CI_ExpressionPanel_FavoritesStar);}
  >path[d$='3 3a1 1 0 0 0 1.4-1.4L13 11.58V5Z']{color: var(--CI_ExpressionPanel_FrequentlyUsed);}
  >path[d^='M8 20a1 1 0 0 0-1 1v.5c0 .28.22.5']{color: var(--CI_ExpressionPanel_TopEmojis);}
}
/* Sticker Tab Sticker Icon */
.standardStickerShortcut__3ad28>svg {
  >path[d^='M21.66 16c.03 0 .05.03.04.06a3 3 ']{color: var(--CI_ExpressionPanel_Stickers);}
  >path[d^='M6 2h12a4 4 0 0 1 4 4v7.5a.5.5 0 ']{color: var(--CI_ExpressionPanel_Stickers);}
}
/* Misc Emoji/Sticker/Gif Icons */
.unicodeShortcut_b9ee0c>svg>path[d^='M12 23a11 11 0 1 0 0-22 11 11 0 0']{color: var(--CI_ExpressionPanel_Emoji);}

/* Default Emojis (bottom) */
.headerIcon__14245>svg {
  >path[d^='M12 23a11 11 0 1 0 0-22 11 11 0 0']{color: var(--CI_ExpressionPanel_DefaultEmojisPeople);}
  >path[d^='M9.8 14.6c-.45.31-.9.6-1.37.89l-.']{color: var(--CI_ExpressionPanel_DefaultEmojisNature);}
  >path[d^='M7 1a1 1 0 0 0-1 1v.2c0 .79-.4 1.']{color: var(--CI_ExpressionPanel_DefaultEmojisFood);}
  >path[d^='M20.97 4.06c0 .18.08.35.24.43.55.']{color: var(--CI_ExpressionPanel_DefaultEmojisActivities);}
  >path[d^='M15 4a1 1 0 0 0-.95 1.32l.9 2.68h']{color: var(--CI_ExpressionPanel_DefaultEmojisTravel);}
  >path[d^='M10.41 3.59 11.6 2.4a2 2 0 0 1 2.']{color: var(--CI_ExpressionPanel_DefaultEmojisObjectsLamp);}
  >path[d^='M16.99 12.43c-.21.2-.2.55.06.7a3 ']{color: var(--CI_ExpressionPanel_DefaultEmojisObjectsLight);}
  >path[d^='M12.47 21.73a.92.92 0 0 1-.94 0C9']{color: var(--CI_ExpressionPanel_DefaultEmojisSymbols);}
  >path[d^='M3 1a1 1 0 0 1 1 1v.82l8.67-1.45A']{color: var(--CI_ExpressionPanel_DefaultEmojisFlags);}
}

/* Jump to first and last message: alt icons */
#message-vc-jump-to-first-user path {
  d: path('M 3.7 3.7 L 19.9 3.7 L 19.9 7.3 L 3.7 7.3 Z M 11.8 6.4 L 19.9 19.9 L 3.7 19.9 Z');
  d: path('M4.83 4.83 19.41 4.83 19.41 8.07 4.83 8.07ZM12.12 7.26 19.41 19.41 4.83 19.41Z');
}
#message-vc-jump-to-last-user path {
  d: path('M 20.3 20.3 L 4.1 20.3 L 4.1 16.7 L 20.3 16.7 Z M 12.2 17.6 L 4.1 4.1 L 20.3 4.1 Z');
  d: path('M19.17 19.17 4.59 19.17 4.59 15.93 19.17 15.93ZM11.88 16.74 4.59 4.59 19.17 4.59Z');
}

/* Pinned Messages Dropdown */
/* todo: can reduce nesting here it hink */
.messagesPopoutWrap_e8b59c {
  path[d^='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.0']{display: none;}

  /* Inlines */
  .wrapper_c19a55::before { /* Pin */
    background-color: var(--CI_PinPin_2);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z'/%3E%3C/svg%3E");
  }
  
  .wrapper_c19a55::after { /* Handle */
    background-color: var(--CI_PinHandle);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11l.38.38Z'/%3E%3C/svg%3E");
  }
  
  .wrapper_c19a55::before,
  .wrapper_c19a55::after
  {content: '';width: 16px;height: 16px;position: absolute; right: 4px; top: 4px;}

  /* Header */
  >.header_e8b59c {
    >.titleContainer_e8b59c::before { /* Pin */
      background-color: var(--CI_PinPin_2);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z'/%3E%3C/svg%3E");
    }
    
    >.titleContainer_e8b59c::after { /* Handle */
      background-color: var(--CI_PinHandle);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11l.38.38Z'/%3E%3C/svg%3E");
    }
    
    >.titleContainer_e8b59c::before,
    >.titleContainer_e8b59c::after
    {content: '';width: 24px;height: 24px;position: absolute;}
  }
}

/* Server Channel List Header */
.icon__2ea32 {
  >path[d^='M11 3a1 1 0 1 1 2 0v2h5.75c.16 0 ']{color: var(--CI_ChannelListHeader_ServerGuide);}
  >path[d^='M7 1a1 1 0 0 1 1 1v.75c0 .14.11.2']{color: var(--CI_ChannelListHeader_EventsTop);}
  >path[d^='M2 10a1 1 0 0 1 1-1h18a1 1 0 0 1 ']{color: var(--CI_ChannelListHeader_EventsBot);}
  >path[d^='M3 3a1 1 0 0 0 0 2h18a1 1 0 1 0 0']{color: var(--CI_ChannelListHeader_ChannelsAndRolesText);}
  >path[d^='M18.5 23c.88 0 1.7-.25 2.4-.69l1.']{color: var(--CI_ChannelListHeader_ChannelsAndRolesMagnifyingGlass);}
  >path[d^='M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.0']{color: var(--CI_ChannelListHeader_MembersBack);}
  >path[d^='M10.95 1.43a1.5 1.5 0 0 1 2.1 0l5']{color: var(--CI_ChannelListHeader_ServerBoostsOut);}
  >path[d^='M11.47 6.55a.75.75 0 0 1 1.06 0l2']{color: var(--CI_ChannelListHeader_ServerBoostsIns);}
}
[id^='members']+.basicChannelRowLink__2ea32>.content__65844>.iconContainer__2ea32::before {
  content: '';width: 20px;height: 20px;position: absolute;
  background-color: var(--CI_ChannelListHeader_MembersFront);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.5 9a3 3 0 11-6 0 3 3 0 016 0ZM2 20.5a7.5 7.5 0 0115 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 01-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 01-.5.5h-8a.5.5 0 01-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 01-.2.16A1.5 1.5 0 012 20.5Z'/%3E%3C/svg%3E");
}

/* Server Members Tab */
path[d^='M22 5a1 1 0 0 1-1 1h-8.2a2.5 2.5 ']{fill:  var(--CI_ServerSettings_MembersFilter) !important;}
path[d^='M15.62 17.03a9 9 0 1 1 1.41-1.41l']{fill:  var(--CI_ServerSettings_MembersSearch);}
path[d^='M16.32 14.72a1 1 0 0 1 0-1.41l2.5']{color: var(--CI_ServerSettings_MembersJoinLinkOut);}
path[d^='M14.7 10.7a1 1 0 0 0-1.4-1.4l-4 4']{color: var(--CI_ServerSettings_MembersJoinLinkIns);}

/* Startup Logo (unanimated) */
.content_a2f514 {
  .spinner_a2f514 {opacity: 0;}
  &::before {
    content: '';width: 200px;height: 200px;position: fixed;
    background-color: var(--CI_StartupLogo);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M22.1089 10.672C20.9696 10.1712 19.7514 9.8072 18.4778 9.6 18.3214 9.8657 18.1387 10.223 18.0127 10.5073 16.6589 10.316 15.3175 10.316 13.9886 10.5073 13.8626 10.223 13.6757 9.8657 13.5179 9.6 12.243 9.8072 11.0234 10.1725 9.8841 10.6746 7.5862 13.937 6.9633 17.1185 7.2747 20.2547 8.7988 21.3241 10.2759 21.9736 11.728 22.3986 12.0866 21.9351 12.4063 21.4423 12.6818 20.9229 12.1571 20.7356 11.6546 20.5045 11.1798 20.2361 11.3058 20.1485 11.429 20.0568 11.5481 19.9625 14.4441 21.235 17.5905 21.235 20.4519 19.9625 20.5723 20.0568 20.6955 20.1485 20.8201 20.2361 20.3439 20.5058 19.84 20.7369 19.3154 20.9242 19.5908 21.4423 19.9092 21.9364 20.2691 22.4 21.7226 21.975 23.201 21.3254 24.7252 20.2547 25.0906 16.619 24.1009 13.4668 22.1089 10.672ZM13.0763 18.326C12.207 18.326 11.4941 17.5634 11.4941 16.635 11.4941 15.7065 12.1918 14.9426 13.0763 14.9426 13.9609 14.9426 14.6738 15.7051 14.6586 16.635 14.66 17.5634 13.9609 18.326 13.0763 18.326ZM18.9236 18.326C18.0542 18.326 17.3414 17.5634 17.3414 16.635 17.3414 15.7065 18.039 14.9426 18.9236 14.9426 19.8082 14.9426 20.5211 15.7051 20.5058 16.635 20.5058 17.5634 19.8082 18.326 18.9236 18.326Z'/%3E%3C/svg%3E");
  }
}

/* Friends Tab Header */
/* .topPill_aa8da2 { */
  /* >.item__133bf:nth-of-type(1) { */
    /* background-color: var(--status-positive-background); */
    /* background-color: var(--background-feedback-positive); */

    /* color: var(--status-positive-text); */
  /* } */
  /* >.item__133bf:nth-of-type(1):hover { */
    /* background-color: var(--status-positive-background); */
    /* color: var(--status-positive); */
  /* } */
  /* >.item__133bf[aria-selected='true'] { */
    /* background-color: transparent; */
    /* color: var(--status-positive); */
  /* } */
  /* >.item__133bf[aria-selected='true']:hover { */
    /* background-color: transparent; */
    /* color: var(--text-positive); */
  /* } */
/* } */
}

	/* --background-feedback-positive very dark green */
	/* --chart-positive lime green */
	/* --icon-feedback-positive lime green */
	/* --notice-background-positive dark green */
	/* --notice-text-positive light lime green */
	/* --status-positive light green */
	/* --status-positive-background dark green */
	/* --status-positive-text white */
	/* --steam-review-text-positive light blue */
	/* --text-feedback-positive lime green */

/* ============================================================================================================================================================ */

