/**
 * @name Coloured Icons [Controller]
 * @author Moga
 * @version 1.0.0
 * @description Icon colour snippet Controller.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Coloured Icons Controller */
/* _________________________ */

@import url('https://raw.githubusercontent.com/fckyough/css1/refs/heads/main/vcSnippets/colouredIcons.css');

/* currentColor = default afaik */
:root {
  /* todo: user context menu copy url + view avatar + more shit idk (i will not i a mtoo tirde) */
  /* todo: search bar category icons */
  /* todo: some discord only icons, not equpcbop */
  --TC_Coloured_Icons_Msg_Actions:     true;
  --TC_Coloured_Icons_Header_Bar:      true;
  --TC_Coloured_Icons_Settings_Menus:  true;
  --TC_Coloured_Icons_Chat_Box:        true;
  --TC_Coloured_Icons_Misc_Shit:       true;
  --CI_HoverTintAmonut:                1.120; /* Set 1 for no :hover glow, def is like 1.1, 1.15 looks ok ig idk */
  --CI_HoverScaleLarge:                1.070; /* Icon hover scale large */
  --CI_HoverScaleSmall:                1.035; /* Icon hover scale small */

  /* ----------------------------- */
  /* TC_Coloured_Icons_Msg_Actions */
  /* ----------------------------- */
  /* all the misc plugnis specific icons that i dont use are prolly random as fuck and look retarded, so yea might wanna shange those */
  --CI_ViewReactions:       var(--CI_AddReaction);
  --CI_CopyMessageID_01:    color-mix(in srgb, var(--orange-new-32) 50%, #db9236 50%); /* #dd8b42 */
  --CI_CopyMessageID_02:    color-mix(in srgb, var(--orange-new-32) 50%, #db3636 50%);
  --CI_ViewIcon_01:         var(--CI_Reply);
  --CI_ViewIcon_02:         color-mix(in srgb, var(--CI_Reply) 50%, #368edb 50%);
  --CI_CopyUserURLTop:      var(--CI_CopyLinkCenter);
  --CI_CopyUserURLBot:      var(--CI_CopyLinkOutside);
  --CI_CopyLinkOutside:     var(--status-danger); /* --red-new-46 */
  --CI_CopyLinkCenter:      currentColor;
  --CI_MarkUnreadBig:       var(--CI_Reply); /* #34A853 */
  --CI_MarkUnreadSmall:     currentColor;
  --CI_PinPin_1:            currentColor;
  --CI_PinPin_2:            var(--text-default);
  --CI_PinHandle:           var(--platform-partner); /* #4285F4 */
  --CI_UnpinHandle:         var(--red-new-54);
  --CI_ThreadSpool:         currentColor; /* var(--pink-38) */
  --CI_ThreadThead:         #e87aba; /* var(--pink-38) */
  --CI_QuickMention:        var(--CI_JumpToReply);
  --CI_ViewRawLeft:         var(--brand-400);
  --CI_ViewRawRight:        var(--brand-400);
  --CI_DecodeBase64:        var(--CI_CopyMessageID_01);
  --CI_DownloadAllAttach:   var(--CI_PinHandle);
  --CI_JumpToReply:         var(--role-purple);
  --CI_HideMessagesEye:     currentColor;
  --CI_HideMessagesIris:    var(--CI_Reply);
  --CI_HuskReact:           var(--CI_AddReaction);
  --CI_RepeatMessage:       var(--CI_JumpToReply);
  --CI_AnswerWithAIHead:    currentColor;
  --CI_AnswerWithAIEyes:    var(--CI_CopyLinkOutside);
  --CI_ConvertUnits:        var(--CI_CopyLinkOutside);
  --CI_AddReaction:         #C89553; /* this is the better idle color b4 vencord made it shit */
  --CI_AddReaction:         #E3AC4D; /* color-mix(in srgb, var(--channeltabs-yellow) 88%, #8899ff 12%), this color var doesnt work in vencord for sm reaosn */
  --CI_Reply:               var(--green-new-39); /* #34A853 */
  --CI_EditMessagePencil:   var(--CI_AddReaction);
  --CI_EditMessageEraser:   color-mix(in srgb, var(--pink-38) 50%, #b6495f 50%); /* #db5e9e */
  --CI_CopyRoleColor:       var(--CI_AddReaction);
  --CI_CopyTextBackPage:    var(--CI_equicord_themes);
  --CI_CopyTextFrontPage:   var(--CI_equicord_themes);
  --CI_CopyTextTab:         var(--CI_PinHandle);
  --CI_Forward:             var(--CI_PinHandle);
  --CI_SpeakMessage:        var(--CI_JumpToReply);
  --CI_MembersInRole:       var(--CI_Forward);
  --CI_JumpToFirstMessage:  var(--CI_SearchResults_SortUp);
  --CI_JumpToLastMessage:   var(--CI_SearchResults_SortDn);
  --CI_DeleteMessageLid:    var(--interactive-icon-default); /* only one to not ues current color cuz it default red :taok: */
  --CI_DeleteMessageBin:    #ed5557; /* --CI_DeleteMessageBin */
  --CI_ReportMessage:       var(--CI_DeleteMessageBin); /* only one to not ues current color cuz it default red :taok: */

  /* ------------------------ */
  /* TC_Coloured_Icons_Header */
  /* ------------------------ */
  --CI_Header_ThreadThead:         var(--CI_ThreadThead);
  --CI_NotificationSettingsBell:   var(--CI_AddReaction);
  --CI_NotificationSettingsSlash:  var(--CI_CopyLinkOutside);
  --CI_NotificationSettingsBit:    var(--CI_AddReaction);
  --CI_Header_PinPin:              currentColor;
  --CI_Header_PinHandle:           var(--CI_PinHandle);
  --CI_MemberListIndicator:        currentColor;
  --CI_MemberListFrontGuy:         var(--CI_Reply);
  --CI_MemberListBackGuy:          var(--CI_PinHandle);
  --CI_ChatSummaries:              currentColor;
  --CI_AddFriendsDMFrontGuy:       var(--CI_Reply);
  --CI_AddFriendsDMBackGuy:        var(--CI_PinHandle);
  --CI_StartVoiceCall:             var(--CI_Reply);
  --CI_StartVideoCall:             color-mix(in srgb, var(--role-dark-purple) 50%, #7f5af4 50%); /* #7848bf */
  --CI_ShowUserProfile:            var(--CI_AddReaction);
  --CI_Inbox:                      currentColor; /* iii am clueless, but it hink currentColor will keep */
  --CI_Help:                       currentColor; /* it default without having ot disable the rule? */
  --CI_BugReport:                  var(--CI_PinHandle);
  --CI_Header_DevToolsLeft:        currentColor;
  --CI_Header_DevToolsRight:       var(--CI_AddReaction);
  --CI_EnhMessageLogger:           var(--CI_CopyLinkOutside);
  --CI_Header_EquicordIcon01:      currentColor;
  --CI_Header_EquicordIcon02:      currentColor;
  --CI_Header_EquicordIcon03:      currentColor;

  /* -------------------------------- */
  /* TC_Coloured_Icons_Settings_Menus */
  /* -------------------------------- */
  /* Equicord Settings 1 */
  --CI_equicord_main:                                     currentColor;
  --CI_equicord_plugins:                                  var(--illo-purple-40);
  --CI_equicord_themes:                                   #80ADC5;
  --CI_equicord_updater:                                  var(--CI_Reply);
  --CI_equicord_changelog:                                var(--CI_AddReaction);
  --CI_equicord_cloud:                                    var(--CI_PinHandle);
  --CI_equicord_backup_restore:                           var(--brand-400);
  --CI_equicord_patch_helper:                             var(--CI_AddReaction);
  --CI_equicord_equibop_settings:                         var(--CI_equicord_main);
  --CI_vencord_startup_timings:                           var(--CI_equicord_themes);
  --CI_equicord_icon_viewer:                              var(--CI_equicord_themes);
  --CI_equicord_i_remember_you_eye:                       currentColor;
  --CI_equicord_i_remember_you_iris:                      var(--CI_Reply);
  --CI_equicord_login_with_qr_inside:                     #229b93;
  --CI_equicord_login_with_qr_outside:                    currentColor;
  --CI_equicord_theme_library:                            #c45eb8;
  /* Equicord Settings 2 */
  --CI_account_sidebar_item:                              var(--CI_Reply);
  --CI_content_and_social_sidebar_item:                   var(--CI_AddReaction);
  --CI_data_and_privacy_sidebar_item:                     var(--CI_CopyMessageID_01);
  --CI_family_center_sidebar_item:                        currentColor;
  --CI_authorized_apps_sidebar_item:                      var(--brand-400);
  --CI_sessions_sidebar_item_laptop:                      currentColor;
  --CI_sessions_sidebar_item_phone:                       var(--CI_equicord_themes);
  --CI_connections_sidebar_item_outside:                  var(--CI_CopyLinkOutside);
  --CI_connections_sidebar_item_inside:                   currentColor;
  --CI_notifications_sidebar_item:                        var(--CI_AddReaction);

  /* Billing */
  --CI_nitro_sidebar_item:                                var(--brand-430);
  --CI_premium_guild_subscriptions_sidebar_item_inside:   var(--CI_premium_guild_subscriptions_sidebar_item_outside);
  --CI_premium_guild_subscriptions_sidebar_item_outside:  var(--guild-boosting-pink);
  --CI_subscriptions_sidebar_item_01:                     currentColor; /* var(--CI_CopyMessageID_01); */
  --CI_subscriptions_sidebar_item_02:                     var(--CI_Reply);
  --CI_subscriptions_sidebar_item_03:                     currentColor; /* var(--CI_AddReaction); */
  --CI_gift_sidebar_item_01:                              var(--brand-360);
  --CI_gift_sidebar_item_02:                              var(--brand-360);
  --CI_billing_sidebar_item:                              var(--brand-300);

  /* Experience */
  --CI_voice_and_video_sidebar_item_01:                   var(--brand-400);
  --CI_voice_and_video_sidebar_item_02:                   currentColor;
  --CI_appearance_sidebar_item:                           var(--CI_AddReaction);
  --CI_accessibility_sidebar_item:                        var(--CI_PinHandle);
  --CI_keybinds_sidebar_item:                             var(--CI_CopyMessageID_01);
  --CI_language_and_time_sidebar_item_01:                 #4285F4;
  --CI_language_and_time_sidebar_item_02:                 #34A853;

  /* Activity */
  --CI_activity_privacy_sidebar_item_01:                  currentColor;
  --CI_activity_privacy_sidebar_item_02:                  var(--CI_Reply);

  /* Staff Only 1 */
  --CI_experiments_sidebar_item:                          #c45eb8;
  --CI_developer_options_sidebar_item_01:                 var(--CI_AddReaction);
  --CI_developer_options_sidebar_item_02:                 currentColor;
  /* Staff Only 2 */
  --CI_developer_sidebar_item:                            var(--brand-400);
  --CI_logout_sidebar_item_01:                            currentColor; /* var(--CI_Reply); */
  --CI_logout_sidebar_item_02:                            currentColor; /* var(--CI_CopyLinkOutside); */
  --CI_logout_sidebar_item_03:                            currentColor; /* var(--CI_equicord_themes); */

  /* -------------------------- */
  /* TC_Coloured_Icons_Chat_Box */
  /* -------------------------- */
  --CI_ChatBox_PreviewMessage:  currentColor;
  --CI_ChatBox_AddAttachment:   var(--CI_Reply);
  --CI_ChatBox_SilentMessage:   var(--CI_AddReaction);
  --CI_ChatBox_SilentTyping:    currentColor;
  --CI_ChatBox_QuickMessage:    var(--CI_AddReaction);
  --CI_ChatBox_Translate:       var(--CI_Reply);
  --CI_ChatBox_NitroGift_01:    var(--brand-430);
  --CI_ChatBox_NitroGift_02:    var(--brand-430);
  --CI_ChatBox_NitroGift_03:    var(--brand-400);
  --CI_ChatBox_NitroGift_04:    var(--brand-400);
  --CI_ChatBox_JIFs:            var(--orange-new-29);
  --CI_ChatBox_Stickers:        var(--green-new-32);
  --CI_ChatBox_Emoji:           var(--CI_AddReaction);
  --CI_ChatBox_Apps_01:         var(--CI_JumpToReply);
  --CI_ChatBox_Apps_02:         var(--CI_PinHandle);
  --CI_ChatBox_Apps_03:         #c45eb8;
  --CI_ChatBox_Apps_04:         var(--green-new-32);

  /* --------------------------- */
  /* TC_Coloured_Icons_Misc_Shit */
  /* --------------------------- */
  --CI_lProfile_MemberSinceDiscordIcon:  var(--brand-430);
  --CI_lProfile_ShopRoof:                currentColor;
  --CI_lProfile_ShopMain:                currentColor;
  --CI_lProfile_MessageBubble:           var(--CI_Reply);
  --CI_lProfile_AddFriendNotAddedDude:   var(--CI_Reply);
  --CI_lProfile_AddFriendNotAddedPlus:   currentColor;
  --CI_lProfile_AddFriendAddedDude:      var(--CI_Reply);
  --CI_lProfile_AddFriendAddedCheck:     currentColor;
  --CI_lProfile_AddFriendPendingDude:    var(--CI_Reply);
  --CI_lProfile_AddFriendPendingClock:   currentColor;
  --CI_lProfile_FriendsSinceBody: blue;
  --CI_lProfile_FriendsSinceHead: red;

  --CI_sProfile_AddFriendNotAddedDude:  var(--CI_Reply);
  --CI_sProfile_AddFriendNotAddedPlus:  currentColor;
  --CI_sProfile_AddFriendIsAddedDude:   var(--CI_Reply);
  --CI_sProfile_AddFriendIsAddedCheck:  currentColor;
  --CI_sProfile_AddFriendPendingDude:   var(--CI_Reply);
  --CI_sProfile_AddFriendPendingClock:  currentColor;
  --CI_sProfile_ModViewSwordLeft:       var(--CI_AddReaction);
  --CI_sProfile_ModViewSwordRight:      var(--CI_AddReaction);
  --CI_sProfile_ViewPermissions:        var(--brand-360);
  --CI_sProfile_AddNotePaper:           var(--CI_PinHandle);
  --CI_sProfile_AddNotePlus:            currentColor;

  --CI_blProfile_CopyUserID:      var(--CI_CopyMessageID_01);
  --CI_blProfile_SwitchAccounts:  var(--CI_AddReaction);
  --CI_blProfile_CopyTextBack:    var(--CI_equicord_themes);
  --CI_blProfile_CopyTextFront:   var(--CI_equicord_themes);
  --CI_blProfile_CopyTextPage:    var(--CI_PinHandle);

  --CI_XButton:                              var(--CI_CopyLinkOutside);
  --CI_LeavingAppBox:                        currentColor;
  --CI_LeavingAppArrow:                      var(--CI_CopyLinkOutside);
  --CI_LeavingArrow:                         var(--CI_CopyMessageID_01);
  --CI_PlusButton:                           var(--CI_Reply);
  --CI_SilentMessageInlineBell:              var(--CI_AddReaction);
  --CI_SilentMessageInlineZzz:               var(--CI_AddReaction);
  --CI_AppChatMsg:                           var(--brand-330);
  --CI_AttachmentPicture:                    var(--CI_Reply);
  --CI_SearchResults_CategoryFolder:         var(--CI_AddReaction);
  --CI_SearchResults_MagnifyingGlass:        var(--CI_equicord_themes);
  --CI_SearchResults_DataType:               var(--CI_CopyLinkOutside);
  --CI_SearchResults_DataTypeImage:          var(--CI_Reply);
  --CI_SearchResults_DataTypeVideo:          var(--CI_StartVideoCall);
  --CI_SearchResults_DataTypeLinkOutside:    var(--CI_CopyLinkOutside);
  --CI_SearchResults_DataTypeLinkInside:     var(--CI_CopyLinkInside);
  --CI_SearchResults_DataTypeFilePage:       var(--CI_CopyMessageID_01);
  --CI_SearchResults_DataTypeFileTab:        var(--orange-new-35);
  --CI_SearchResults_DataTypeEmbedInside:    currentColor;
  --CI_SearchResults_DataTypeEmbedOutside:   var(--CI_AddReaction);
  --CI_SearchResults_DataTypeSoundWavesIn:   currentColor;
  --CI_SearchResults_DataTypeSoundSpeaker:   color-mix(in srgb, var(--illo-purple-30) 50%, #c34ce8 50%);
  --CI_SearchResults_DataTypeSoundWavesOut:  currentColor;
  --CI_SearchResults_DataTypePoll:           var(--CI_Forward);
  --CI_SearchResults_DataTypeStickerPage:    var(--CI_ChatBox_Stickers);
  --CI_SearchResults_DataTypeStickerTab:     var(--CI_ChatBox_Stickers);
  --CI_SearchResults_DataTypeForward:        var(--CI_Forward);
  --CI_SearchResults_FromUser:               var(--CI_Reply);
  --CI_SearchResults_UserAtSymbol:           var(--CI_equicord_plugins);
  --CI_SearchResults_SortUp:                 var(--green-230);
  --CI_SearchResults_SortDn:                 var(--CI_ThreadThead);
  --CI_SearchResults_Filters:                var(--brand-430);
  --CI_SearchResults_ChannelHash:            var(--CI_AddReaction);
  --CI_SearchResults_ChannelHashLock:        var(--CI_AddReaction);
  --CI_SearchResults_DeleteMessageLid:       var(--CI_DeleteMessageLid);
  --CI_SearchResults_DeleteMessageBin:       var(--CI_DeleteMessageBin);

  --CI_ChannelList_Hash: currentColor;
  --CI_ChannelList_Locked: var(--CI_AddReaction);
  --CI_ChannelList_NSFWHazard: var(--CI_CopyLinkOutside);
  --CI_ChannelList_NSFWHash: currentColor;
  --CI_ChannelList_PrivateLock: var(--yellow-260);
  --CI_ChannelList_PrivateHash: currentColor;
  --CI_ChannelList_SyncedWithGame: var(--CI_Reply);
  --CI_ChannelList_Rules: var(--CI_CopyLinkOutside);
  --CI_ChannelList_AnnouncementHandle: var(--CI_CopyMessageID_02);
  --CI_ChannelList_AnnouncementSpeaker: currentColor;
  --CI_ChannelList_AnnouncementPrivateSpeaker: currentColor;
  --CI_ChannelList_AnnouncementNSFWSpeaker: currentColor;
  --CI_ChannelList_StageGuy: currentColor;
  --CI_ChannelList_StageWavesOut: var(--CI_Forward);
  --CI_ChannelList_StageWavesIns: var(--CI_Forward);
  --CI_ChannelList_EnterVoiceChannelChat: var(--CI_equicord_plugins);
  --CI_ChannelList_VoiceSpeaker: currentColor;
  --CI_ChannelList_VoiceWaves: var(--CI_Forward);
  --CI_ChannelList_VoiceNSFW: currentColor;
  --CI_ChannelList_ThreadLarge: currentColor;
  --CI_ChannelList_ThreadSmall: var(--CI_equicord_plugins);
  --CI_ChannelList_ThreadLargePvtOrNSFW: currentColor;
  --CI_ChannelList_ThreadSmallPvtOrNSFW: var(--CI_equicord_plugins);
  --CI_ChannelList_InviteToChannelGuy: var(--CI_Reply);
  --CI_ChannelList_InviteToChannelPlus: currentColor;

  --CI_ChannelListHeader_ServerGuide:                      var(--CI_AddReaction);
  --CI_ChannelListHeader_EventsTop:                        currentColor;
  --CI_ChannelListHeader_EventsBot:                        var(--brand-400);
  --CI_ChannelListHeader_ChannelsAndRolesText:             currentColor;
  --CI_ChannelListHeader_ChannelsAndRolesMagnifyingGlass:  var(--CI_Reply);
  --CI_ChannelListHeader_MembersFront:                     var(--CI_Reply);
  --CI_ChannelListHeader_MembersBack:                      var(--CI_Forward);
  --CI_ChannelListHeader_ServerBoostsOut:                  var(--CI_premium_guild_subscriptions_sidebar_item_outside);
  --CI_ChannelListHeader_ServerBoostsIns:                  var(--CI_premium_guild_subscriptions_sidebar_item_outside);

  --CI_FriendsTab_FriendsHead:  var(--CI_Reply);
  --CI_FriendsTab_FriendsBody:  var(--CI_Reply);
  --CI_FriendsTab_MsgReqsTop:   currentColor;
  --CI_FriendsTab_MsgReqsBot:   currentColor;
  --CI_FriendsTab_Nitro:        var(--brand-400);
  --CI_FriendsTab_ShopRoof:     currentColor;
  --CI_FriendsTab_ShopMain:     currentColor;
  --CI_FriendsTab_Quests:       var(--brand-330);

  --CI_ExpressionPanel_FavoritesStar:              var(--CI_AddReaction);
  --CI_ExpressionPanel_FrequentlyUsed:             var(--CI_equicord_themes);
  --CI_ExpressionPanel_TopEmojis:                  var(--CI_CopyMessageID_02);
  --CI_ExpressionPanel_Stickers:                   var(--CI_ChatBox_Stickers);
  --CI_ExpressionPanel_Emoji:                      var(--CI_AddReaction);
  --CI_ExpressionPanel_DefaultEmojisPeople:        var(--CI_AddReaction);
  --CI_ExpressionPanel_DefaultEmojisNature:        var(--CI_Reply);
  --CI_ExpressionPanel_DefaultEmojisFood:          currentColor;
  --CI_ExpressionPanel_DefaultEmojisActivities:    var(--CI_CopyMessageID_01);
  --CI_ExpressionPanel_DefaultEmojisTravel:        currentColor;
  --CI_ExpressionPanel_DefaultEmojisObjectsLamp:   lightgrey;
  --CI_ExpressionPanel_DefaultEmojisObjectsLight:  var(--CI_AddReaction);
  --CI_ExpressionPanel_DefaultEmojisSymbols:       var(--CI_CopyLinkOutside);
  --CI_ExpressionPanel_DefaultEmojisFlags:         var(--CI_Forward);

  --CI_ServerSettings_MembersFilter:       var(--CI_SearchResults_Filters);
  --CI_ServerSettings_MembersSearch:       var(--CI_equicord_themes);
  --CI_ServerSettings_MembersJoinLinkOut:  var(--CI_CopyLinkOutside);
  --CI_ServerSettings_MembersJoinLinkIns:  var(--CI_CopyLinkInside);

  --CI_StartupLogo:  var(--brand-400);
}

/* ============================================================================================================================================================ */

