/**
 * @name Compact Theme [WiP]
 * @author Moga
 * @version 0.0.1
 * @description Nerfs the bs spacing and shit so the GUI looks like it's made for a PC, rather than a tablet.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Compact Channels Menu */
/* _____________________ */
/* https://discord.com/channels/1015060230222131221/1364334361343692882 */

@container style(--TC_Compact_Channels_Menu: true) {
[aria-label$='(server)'] {
/* channel name header */
.header_f37cb1 {padding: 0 0px;}
.scroller__629e4 {
  scrollbar-width: none;
  margin: 0;
  .wrapper__2ea32 {margin: 0px;}

  /* boost header */
  .containerWithMargin__0d0f9 {
    margin: 0;
    padding: 0 var(--space-xxs) 8px;
  }

  /* channels */
  .container__5b40b,
  .containerDefault_c69b6d {
    .selectedChannel_c69b6d.wrapper__2ea32 .link__2ea32 {background: var(--red-660);}
    .unread__2ea32 {
      width: 2px;
      height: 8px;
      left: 10px;
      right: auto;
      top: 14px;
    }
    .link__2ea32 {
      padding: 0;
      padding-inline: var(--space-xs);
     /* .icon__2ea32 {scale: 0.95;} */
   }
    .typeThread__2ea32 {
      margin-left: 10px;
      .link__2ea32 {padding-left: 20px;}
    }
    .spine__5b40b {display: none;}
    .spineBorder__5b40b {
      left: 10px;
      width: 1px;
      background: #ffffff1e;
      height: 100%;
    }
    .iconVisibility_c69b6d.wrapper__2ea32 .link__2ea32 {
      border-radius: 0px;
      margin: 0px;
      padding: 0px;
      padding-left: 16px ;
      &::before {
        width: 1px;
        left: 10px;
        background-color: #ffffff1e;
      }
      &:hover {background-color: var(--red-600);}
      .linkTop__2ea32 {
        .children__2ea32,
        .channelInfo_c69b6d,
        .iconItem_c69b6d {
          margin: 0;
          margin-right: 2px;
        }
        .numberBadge__2b1f5 {
          margin-right: 3px;
        }
        gap: 4px;
        /* .icon__2ea32 {scale: 0.85;} */
        .name__2ea32.overflow_b0dfc2 {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.5em;
        }
        .numberBadge__2b1f5 {
          /* margin-right: 10px; */
        }
      }
    }
  }

  /* channel headers */
  .containerDefault__29444 {
    padding: 0px;
    .wrapper__29444 {
      padding: 0 5px;
      /* header buttons */
      .mainContent__29444 {
        flex-direction: row-reverse;
        flex: none;
      }
      .icon__29444 {scale: 1.25;}
    }
  }

  .sectionDivider__629e4 {
    margin: 2px 0 0 !important;
    width: 100%;
  }
}}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Compact Chat Box */
/* ________________ */

@container style(--TC_Compact_Chat_Box: true) {
/* compact chat box */
/* typing */
.form_f75fb0.formWithLoadedChatInput_f75fb0 {
  padding: 0 3px 0;
.channelTextArea_f75fb0.channelTextArea__74017 {
  /* border: var(--CS_cBorderWidth) solid var(--border-subtle); */
  margin-bottom: 3px;
  margin-top: 3px;
  .scrollableContainer__74017 {
    scrollbar-width: none;
    .inner__74017 {
      padding-inline-start: calc(var(--space-8) - 1px);
      padding-inline-start: 0;
      .textArea__74017 {
        min-height: 0px;
        align-self: center;
        .placeholder__1b31f {
          padding-inline-start: calc(var(--space-8) - 1px);
        }
     }

      /* jif, etc buttons */
      .buttons__74017 {
        gap: 0;
        height: var(--space-xxl);
        align-self: center;
        padding-right: 0.25ch;
        .button_e6e74f,
        .button__24af7,
        .button__74017 {
          min-height: var(--space-xxl);
          min-width: var(--space-xxl);
          translate: 0 !important;
        }
      }

      /* slash cmd button (attach button) */
      .attachWrapper__0923f {
        padding: 0;
        align-self: center;
        .attachButton__0923f  {
          padding: 0;
          margin: 0;
          margin-left: 3px;
          min-height: 1.5em;
          min-width: 1.5em;
          .attachButtonInner__0923f {padding: 0;}
          /* has a second hover for some reason idk, removed it */
          .attachButtonInner__0923f:hover {background: none;}
        }
      }
    }
  }
  /* .slateTextArea_ec4baf { */
    /* padding: 20px 0 8px 0 !important; */
  /* } */

/* editing msg */
/* .messageListItem__5126c { */
  /* .header_c19a55 { */
    /* margin: 20px; comment me */
  /* } */
  /* .message__5126c.selected__5126c { */
    /* padding-left: 59px !important; */
  /* } */
/* } */
/* .selected__5126c .contents_c19a55 > div { */
  /* width: 100% !important; */
  /* position: relative; left: -50px; */
/* } */
}}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Compact Channel Permission Viewer */
/* _________________________________ */

@container style(--TC_Compact_Permission_Viewer: true) {
.root__49fc1 {
  /* header */
  >.header__49fc1 {
    padding: 0 6px;
    height: 1.5em;
    >.vc-permviewer-modal-title {
      text-align: center;
    }
  }

  >.vc-permviewer-modal-content {
    >.vc-permviewer-modal-container {
      gap: 4px;

      /* left piece */
      >.vc-permviewer-modal-list {
        padding-right: 0;
        width: 0;
        gap: 0;

        >.vc-permviewer-modal-list-item-btn {
          >.vc-permviewer-modal-list-item {padding: 2px;}
          >.vc-permviewer-modal-list-item-active {border: 1px solid var(--border-strong);}
        }
      }

      /* divider */
      >.vc-permviewer-modal-divider {
        width: 1px;
        background-color: hsl(var(--opacity-16-hsl) / 0.25);
      }

      /* right bit */
      >.vc-permviewer-modal-perms {
        padding-right: 0;
        width: fit-content;
        /* scrollbar-width: none; */

        >.vc-permviewer-modal-perms-item {
          padding: 2px;
          border-bottom: 1px solid var(--background-mod-strong);

          >.vc-permviewer-modal-perms-item-icon {
            border: 1px solid var(--background-mod-strong);
            width: 1.375em;
            height: 1.375em;
            position: relative;
            >svg {display: none;}
            &:has(>svg >path[fill='var(--status-positive)'])::after {background: var(--status-positive);}
            &:has(>svg >path[fill='var(--status-danger)'])::after {background: var(--status-danger);}
            &:has(>svg >g >polygon[fill='var(--text-default)'])::after {background: var(--icon-subtle);}
            &::after {
              content: '';
              position: absolute;
              inset: 4px;
            }
          }
        }
      }
    }
  }
}}

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Extra Compact Stuff */
/* ___________________ */

@container style(--TC_Extra_Compact_Things: true) {
/* compact header bar */
body {--custom-app-top-bar-height: 1.71em;}
div[data-windows='true'][class*='bar'] {
  --space-32: var(--custom-app-top-bar-height);
}

/* server list */
nav[aria-label='Servers sidebar'] {
  --custom-guild-list-width: 50px;
  --custom-guild-list-padding: 5px;
}
div[aria-label='Servers'] {
  gap: 4px !important;
}
.stack_dbd263 {
  padding-top: 0 !important;
}

/* chat pane */
body {
  --custom-message-padding-vertical-container-compact: 0; /* default: 0.125rem */
  /* --custom-message-margin-horizontal: 0; */
}
/* whoel pane scrollbar */
.scroller__36d07 {
  scrollbar-width: none;
}
/* squares the msgs timestamp + bottom to botleft + grows right more */
.scrollerSpacer__36d07 {height: 1rem;}
.message__5126c {
  padding-inline-start: calc(var(--custom-message-margin-compact-indent) / 1.35) !important;
  padding-inline-end: 5px !important;
}
/* #---new-messages-bar { */
.group-spacing-0 .divider__5126c.hasContent__5126c {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
/* msg hover buttons */
.buttonContainer_c19a55 {
  .buttonsInner__5126c {
    padding: 2px 2px;
    .hoverBarButton_f84418 { /* todo fix me */
      padding: 2px;
    }
  }
}

/* clickable roles popup */
.vc-clickableroles-popout {
  padding: min(calc(var(--CS_cCompactLevel) / 1), 8px);

  .vc-clickableroles-header {
  .vc-clickableroles-count {
    font-size: 16px;
  }}
  .vc-clickableroles-header {
    margin-bottom: 2px;
  }
  .vc-clickableroles-list {
    scrollbar-width: none;

    .vc-clickableroles-user {
      padding: min(calc(var(--CS_cCompactLevel) / 2), 8px) 0 0 0;
    }
  }
}

/* search bar on top of dm list or in server shit i think */
/* dm */
[class^='privateChannels_'] {
  .searchBar_e6b769 {
    height: auto;
    padding: var(--space-4);
  }
  .sm_a22cb0.hasText_a22cb0 .buttonChildrenWrapper_a22cb0 {
    padding: calc(var(--space-2) - 1px) calc(var(--space-2) - 1px);
  }
  .sm_a22cb0 .buttonChildrenWrapper_a22cb0 {
    min-height: 16px;
    min-width: 16px;
  }
}

/* server */
.header_f37cb1 {
  height: 30px;

  .primaryInfo_f37cb1 {
    margin-left: 4px;
    /* height: auto; */
  }
  .headerContent_f37cb1 {
    /* display: none; */
    color: var(--text-strong);
    gap: var(--space-xxs);
    justify-content: space-between;
    width: 100%;

    .guildDropdown_f37cb1 {
      height: 22px;
    }

    .addActionButton_f37cb1, .inviteButton_f37cb1 {
      align-items: center;
      border-radius: var(--radius-sm);
      cursor: pointer;
      display: flex;
      flex: 0 0 auto;
      height: 24px;
      justify-content: center;
      width: 24px;
      margin-right: 7px;
    }
  }
}

/* dms pane */
/* top bar buttosn */
[aria-label='Private channels'] {
.scroller__99e7c {
  scrollbar-width: none;
}
.link__972a0,
.container_e45859 {
  margin: 0;
  /* padding: 0 !important; */
  .link__972a0 {
    /* padding-left: 10px !important; */
  }
}
}}

/* ============================================================================================================================================================ */

