/**
 * @name Compact Theme
 * @author Moga
 * @version 0.0.2
 * @description Controller stetings for my Compact Theme.
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

@import url('https://raw.githubusercontent.com/fckyough/css1/refs/heads/main/vcSnippets/compactTheme.css');

/* compactTheme */
:root {
  /* these 2 are totally defunct btw, it only affects like 1.5-2 snippets lol, fuckin annoying to deal w */
  --CS_cCompactLevel: 4px; /* Change me */
  --CS_cBorderWidth: 1px; /* 0, 1, or 2 */
  /* these 2 are totally defunct btw, it only affects like 1.5-2 snippets lol, fuckin annoying to deal w */

  --TC_Compact_Channels_List:                   true;
  --TC_Compact_Chat_Box:                        true;
  --TC_Compact_Code_Blocks:                     true;
  --TC_Compact_Ephemeral_Notifications:         true;
  --TC_Compact_Friends_Tab:                     true;
  --TC_Compact_Member_List:                     true;
  --TC_Compact_Message_Text_Spacing:            true;
  --TC_Compact_Mode_ShowTimeoutDuration_Fix:    true;
  --TC_Compact_Mode_Username_Decoration_Fixes:  true;
  --TC_Compact_Permission_Viewer:               true;
  --TC_Compact_Profile_Frames:                  true;
  --TC_Compact_Settings:                        true;
  --TC_Compact_Tooltips:                        true;
  --TC_Compact_User_Area:                       true;
  --TC_Disable_Header_Bar:                      true;
  --TC_Extra_Compact_Stuff:                     true;
  --TC_Extremely_Compact_Context_Menu:          true;
  --TC_Martynas_Now_Typing_Indicator:           true;

  --CS_cColor01: var(--interactive-background-selected);
  --CS_cColor02: var(--interactive-background-hover);

  /* --custom-channel-textarea-text-area-height: 1.875em; */
  /* this is the chat box height */
  /* remove entirely if u dont want compact chat box */

  /* this is the width of the 'roles/members' pane in a channel's settings */
  --custom-layout-sidebar-width: 200px;
  /* height of dropdown things so like in settings>accessibility>rolo colours */
  --select-option-height: 20px;
  /* part of teh width variable for theinline emoji info popup */
  --custom-message-helpers-popout-content-width: 228px;
  /* header bar with search bar/etc height */
  --custom-app-top-bar-height: 1.7em;

  /* height of server name above channel list */
  /* --custom-channel-header-height: 26px; */
  --CS_cBigProfileLeftWidth: 340px; /* big profile popout left thing, this is its width, default: 400px */
  --CS_cPluginCardWidth: 265px; /* plugin card min width */
  --CS_cLeftPanelWidth: 180px; /* settings pane, left side width */
  --CS_cContextMenuLineHeight: 1.4em;

  --CS_oHide_IconFinder_Text: true; /* adds back the text below the icons in IconFinder */
  --CS_oPluginSettingsFlipped: false; /* puts a plugin settings' checkbox on left */
  --CS_o2or3PluginDescTextRows: 3.75em; /* 3.75em = 3 rows \\ 2.50em = 2 rows */

  --CS_cButtonPadding: 2px 4px;
  --CS_cPadding: 4px 3px;
  --CS_cTextBoxHeight: 1.8em;

  /* Corner Shit */
  --radius-none:   0px;
  --radius-xs:     2px;
  --radius-sm:     4px;
  --radius-md:     4px;
  --radius-lg:     8px;
  --radius-xl:     12px;
  --radius-xxl:    16px;
  /* --radius-round:  2147483647px; */

  --CS_cBorderRadius_00: 0px;
  --CS_cBorderRadius_01: 1px;
  --CS_cBorderRadius_02: 2px;
  --CS_cBorderRadius_03: 3px;
  --CS_cBorderRadius_04: 4px;
  --CS_cBorderRadius_05: 5px;
  --CS_cBorderRadius_06: 6px;
  --CS_cBorderRadius_07: 7px;
  --CS_cBorderRadius_08: 8px;
  --CS_cBorderRadius_09: 9px;
  --CS_cBorderRadius_10: 10px;
  --CS_cBorderRadius_11: 11px;
  --CS_cBorderRadius_12: 12px;
  --CS_cBorderRadius_13: 13px;
  --CS_cBorderRadius_14: 14px;
  --CS_cBorderRadius_15: 15px;
  --CS_cBorderRadius_16: 16px;

}

/* compactThemeWiP */
:root {--TC_Compact_Friends_Pane_Shit: true;}

/* MISC SHIT THAT IS PART OF MY CSS BUT NOT THE THEME, BUT REQUIRED :TM: FOR THE THEME */

/* while scrolled down: while someong typing: bottom shading */
.chatTypingGradientAtBottom__36d07,
/* while scrolled up: while someong typing: bottom shading */
.chatTypingGradientNotAtBottom__36d07 {
  display: none;
}

/* ============================================================================================================================================================ */

/* can use this to undo the corner things (kinda, wont be 100%, but clise enuf ) */
/* :root { */
  /* --radius-none:   2px; */
  /* --radius-xs:     4px; */
  /* --radius-sm:     8px; */
  /* --radius-md:     12px; */
  /* --radius-lg:     16px; */
  /* --radius-xl:     24px; */
  /* --radius-xxl:    32px; */

  /* --CS_cBorderRadius_00: 0px; */
  /* --CS_cBorderRadius_01: 2px; */
  /* --CS_cBorderRadius_02: 4px; */
  /* --CS_cBorderRadius_03: 6px; */
  /* --CS_cBorderRadius_04: 8px; */
  /* --CS_cBorderRadius_05: 10px; */
  /* --CS_cBorderRadius_06: 12px; */
/* } */
