/**
 * @name Fix ShowTimeoutDuration for Compact Message Display
 * @author Moga
 * @version 1.0.0
 * @description Bunch of VC plugins are bugged to hell with compact mode, this fixes ShowTimeoutDuration
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* ShowTimeoutDuration - Fix for Compact Message Display */
/* _____________________________________________________ */
/* https://discord.com/channels/1173279886065029291/1487587601249599639 */
/* https://discord.com/channels/1015060230222131221/1495514680721150275 */

span[id^='message-username']>.vc-std-wrapper {
  display: inline-flex;
  padding-right: 3px;
  text-indent: 0;
  height: 0;
  >.vc-text-base {
    font-size: 0;
    &>span::before{content: ' {'; margin-right: -0.2em;}
    &>span::after{content: '}';}
    &>span{font-size: 1rem; margin: 0;}
  }
}

/* Hide c(l)ock ALWAYS. */
/* .compactCommunicationDisabled_c19a55{visibility: hidden;} */
/* Hide c(l)ock icon if NOT the first compact msg w the timestamp. */
/* .timestampVisibleOnHover_c19a55~ * .compactCommunicationDisabled_c19a55{visibility: hidden;} */
/* Thisll show c(l)ock iton hover if u want (to be used in conjunction w the above). */
/* .message__5126c:hover .compactCommunicationDisabled_c19a55{visibility: visible;} */

/* ============================================================================================================================================================ */