/**
 * @name Disables Cringe+Sus Badges, Icons, etc
 * @author Moga
 * @version 1.0.0
 * @description Also functions as a template to change pfps/emotes/etc to whatever u want
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* Retarded PDF-Adjacent Vencord Badges */
.anchor_edefb8:has(>.badge__8061a[src$='1-4d0fa088af32381e419c4b333b8e4366dedf8095.gif']),
.anchor_edefb8:has(>.badge__8061a[src$='2-90162a4a5d0fd7697afc679fba480bfd9ea74559.gif']),
.anchor_edefb8:has(>.badge__8061a[src$='5761e8a289ef7647b4fed13f1ddfe0ceb763bb34.webp']),
.anchor_edefb8:has(>.badge__8061a[src$='f1b51422045ea3632c4203c9547980fecbecee30.webp']),
.anchor_edefb8:has(>.badge__8061a[src$='1-95d023a752f079b1aa38d1d0fec828bae5d1d4bd.gif']),
.anchor_edefb8:has(>.badge__8061a[src$='bab91580ead9d5d2dccbb3b5b4309b0d63b985b7.webp']),
.anchor_edefb8:has(>.badge__8061a[src$='328425c9155163be836017d59feb92e9a2979381.webp'])
{display: none;}
/* If youd like to see whats being hidden, go here:
https://badges.vencord.dev/badges/118437263754395652/{src}
*/

/* Stickers & JIFs */
.originalLink_af017a[href*='/shiggy.gif?'],
.originalLink_af017a[href$='kaguya-touhou-gif-3159127306967283389']:not(:hover),
.stickerAsset__31fc2[data-id='1039992459209490513'], /* Shiggy */
.stickerAsset__31fc2[data-id='1175988121519792210'], /* Shiggy */
.stickerAsset__31fc2[data-id='1339760797362159728'], /* Shiggy */
.stickerAsset__31fc2[data-id='1095469686973538385'], /* Shiggy */
.stickerAsset__31fc2[data-id='1217112512374505613'], /* Shiggy */
.stickerAsset__31fc2[data-id='1165447838956798024'], /* Shiggy */
.stickerAsset__31fc2[data-id='1047287415158620222']  /* Shiggy */
{outline: 100vmax solid #570912;
outline-offset: -100vmax;
mask: linear-gradient(#000 0 0);}

/* Emotes */
.emoji[data-id='1024751291504791654'], /* Shiggy */
.emoji[data-id='1206980727162544148'], /* Shiggy */
.emoji[data-id='1333348036897804340'], /* Some retarded hmm shit (same ad as below) */
.emoji[data-id='1329575551781834873']  /* Ad animated kiwi */
{content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><rect width="56" height="56" fill="rgb(152, 165, 129)"/></svg>');}

/* Server Icons */
/* Vencord */
div[data-list-item-id$='1015060230222131221']>.icon__6e9f8,
.icon_f34534[style*='1015060230222131221'],
:is(.guildIcon_d5cd2d, .guildIcon__0fa6d)[src*='1015060230222131221']
{content: url('https://raw.githubusercontent.com/Vendicated/Vencord/refs/heads/main/browser/icon.png');
background-image: none !important;}

/* User PFPs */
:is(.avatar_c19a55, .avatar__44b0c)[src*='1017176847865352332'] /* venapp */
{content: url('https://raw.githubusercontent.com/Vendicated/Vencord/refs/heads/main/browser/icon.png');}

/* Role Icons */
.roleIcon_c19a55[src*='1017150273946394746'], /* Vencord: NewUser: Shiggy */
.roleIcon_c19a55[src*='1017176847865352332']  /* Vencord: Venbot: Shiggy */
{content: url('https://raw.githubusercontent.com/Vendicated/Vencord/refs/heads/main/browser/icon.png');}

/* ============================================================================================================================================================ */



