/**
 * @name No Rounded Edges [Lite]
 * @author Moga
 * @version 1.0.0
 * @description 
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* No Rounded Edges [Lite] */
/* _______________________ */

*,
*::before,
*::after,
.vc-btn-base
{corner-shape: square !important; border-radius: 0 !important;}
.svg_cc5dd2>mask{display: none;}
:is(.mask__68edb, .svg__44b0c)>foreignObject{mask: none;} /* Profile PFP BG & Member List PFPs */

/* ============================================================================================================================================================ */

